[2020-05-05 16:47] ianhundere opened #9 "Helm install for falco not working on EKS 1.16 -- Unable to download precompiled falco-probe module for 4.14.173-137.229.amzn2.x86_64"
**Describe the bug**
We recently updated from EKS 1.15 to 1.16. We were using `0.19.0` of Falco before this without issue.
We tried using the latest `falcosecurity/falco:master` image, but that did not resolve the issue.

[code]

**How to reproduce it**

`helm install falcohelm stable/falco` in the EKS 1.16 env.

**Expected behaviour**

No errors when Falco pods spin up.

**Environment**

- Falco

[2020-05-14 08:17] loetn opened #7 "Helm Chart; Auditing not working. "the server could not find the requested resource""
**Describe the bug**

When installing Falco through the helm chart, this issue falcosecurity/falco#1026, that relates to a wrong setting in the Auditsink, still persists. After setting this to the correct format, as described in this issue, my Kubernetes API log file is full with `Error in audit plugin 'dynamic_webhook' affecting 1 audit events: the server could not find the requested resource` er

[2020-05-14 13:35] usamaahmadkhan opened #8 "[helm install] Kernel headers not found for 4.18.0-147.8.1.el8_1.x86_64 For OpenShift 4.4"
**Describe the bug**
I'm trying to deploy Falco in Openshift 4.4 with Falco version 0.18.0,  and facing the follwing error:

[code]

**How to reproduce it**

[Falco Chart](https://github.com/helm/charts/blob/master/stable/falco/Chart.yaml) 1.17
Image: 0.18.0

**Expected behaviour**
Normal execution of Faclo modules

**Screenshots**

**Environment**

- Falco version: `0.18.0`, `0.19.0`, `0.20.0`,`0

[2020-05-18 19:09] kris-nova opened #3 "Secure Helm Chart"
**Motivation**

Following [this discussion](https://github.com/falcosecurity/falco/issues/1114#issuecomment-604580503) we have been able to identify a number of security holes in the current helm chart.

This issue aims to define the constraints of building a secure-by-default Helm chart for Falco.

**Feature**

As a Kubernetes user I would like to be able to type

[code]

such that a complete Fal

[2020-05-18 19:13] kris-nova opened #4 "Update OWNERS"
**Motivation**

Following up on https://github.com/falcosecurity/contrib/issues/12

We need to review and update the OWNERS file.

More importantly - we need to identify new owners for these charts.

**Feature**

Calling all maintainers. If you are interested in maintaining or contributing to the chart please follow up below.

I would also like to volunteer myself as a maintainer to help with ensu

[2020-05-18 19:17] kris-nova opened #5 "Declare support for helm charts"
**Motivation**

Following up on https://falco.org/blog/falco-scope/

Can we please document the support path for these charts? Where do users go for help?

**Feature**

Can we create a clear document somewhere that describes responsibility of each chart, and where to go for help and support?

**Alternatives**

**Additional context**

[2020-05-18 19:21] cpanato commented on #4
I would like to help where is possible, I'm trying for quite some time, but don't have the time to attend the meetings

However I can help in the charts :-)

[2020-05-18 20:06] nibalizer opened #6 "Create helm repository"
There is a procedure for creating an index and helm repository for our charts. We should do it.

- [x] Create Repository and Assets
- [x] PR remove from helm/charts
- [x] PR in repository to helm/hub
- [ ] Setup chart testing [tool](https://github.com/helm/chart-testing)

[2020-05-18 20:07] leodido commented on #4
In this PR (https://github.com/falcosecurity/charts/pull/2) I setup people according to https://github.com/falcosecurity/contrib/issues/12

[2020-05-18 22:31] zestrells commented on #4
If there’s anyway I can help maintain the Falco helm charts that would be awesome!

[2020-05-19 10:05] leogr commented on #8
Please, note that we're in the process of moving the helm chart here, and refactoring it.

[2020-05-19 10:05] leogr commented on #7
Please, note that we're in the process of moving the helm chart here, and refactoring it.

[2020-05-19 10:30] leogr commented on #3
I like this proposal, but I have some doubts.

It is not totally clear to me who are the consumers of events forwarded by the lightweight program running inside the pods and how events should be forwarded.

Assume `falco-exporter` is the consumer. I would use mount a `hostPath` directly in the `falco-exporter` pods rather than having the lightweight program forwarding events to `falco-exporter`.

[2020-05-22 12:11] kris-nova opened #13 "Update documentation for helm chart"
Right now we have two resources that could use a quick one-line change.

Specifically, once https://github.com/helm/charts/pull/22481 lands the following will be broken:

 - https://falco.org/blog/minikube-falco-kernel-module/
 - https://falco.org/blog/falco-kind-prometheus-grafana/

[2020-05-22 16:46] #9 closed

[2020-05-27 00:39] natchaphon-r opened #17 "Unable to deploy this helm chart with falcosecurity/falco-no-driver:0.23.0"
**Describe the bug**
Falco pods fail to start as the Falco binary is unable to locate a pre-installed BPF probe `/root/.falco/falco-bpf.o`.
[code]

**How to reproduce it**

Create a chart override file test.yaml:
[code]

Run
`helm install falco -f falco/values.yaml -f test.yaml -n falco --generate-name`

Note that I pre-installed Falco BPF probe by using falco-driver-loader which by default instal

[2020-05-27 08:32] leogr commented on #17
Hey @natchaphon-r

Thanks for reporting this!

Currently, the helm chart has no support yet for this use case, and I agree it should be added.

I believe the initContainer approach (for example, as here https://github.com/helm/charts/pull/12343 ) makes sense, but we still need to implement the [least privileged method](https://github.com/falcosecurity/evolution/issues/25) in the right way. That's

[2020-05-28 18:04] leogr opened #22 "Charts releasing automation"
**Motivation**

We just need to automate everything, as usual :smiley_cat:
As also discussed during the last community call.

**Feature**

Automate the following tasks (eg. using CircleCI and/or bots):

- [ ] Each chart should have a way to trigger its release process that
  - validates the chart (ie. checking the version, `helm lint`, etc..)
  - then runs `helm package <chart-name>` to produce th

[2020-05-29 06:35] xantrix commented on #22
I'd like to help with this :) willing to try a POC later today

[2020-05-29 06:42] xantrix commented on #22
/assign

[2020-05-29 10:05] Champ-Goblem opened #23 "Helm install failing on GKE"
**Describe the bug**

Upon installing the helm chart on GKE, the pods error out and the logs suggest a failure to install the falco module.

**How to reproduce it**

Install on GKE cluster with helm.
[code]

**Expected behaviour**

Should load the pods correctly and compile/download the falco module, resulting in a working install.

**Screenshots**

kubectl log ouput:
[code]

**Environment**

- Fa

[2020-05-29 12:45] leogr commented on #23
Hi @Champ-Goblem

Falco con GKE/COS is currently supported only with eBPF, see more details [here](https://falco.org/docs/third-party/#gke).

Please, try:
`helm install falco falcosecurity/falco -n falco --set ebpf.enabled=true`

[2020-06-01 08:34] Champ-Goblem commented on #23
Hi @leogr

That seemed to have worked to get the falco module compiled but I seem to be hitting another error:
[code]

[2020-06-01 08:56] leogr commented on #23
Great!

Thus I'm closing this issue since there's no bug here.

Maybe is it just a documentation issue? WDYT?

Btw, feel free to submit a new issue/PR regarding the documentation on here or [the website repository](https://github.com/falcosecurity/falco-website).

Thanks.

[2020-06-01 09:01] leogr commented on #23
[code]
cc @fntlnz @leodido Might it be related to the kernel version?

[2020-06-01 09:15] Champ-Goblem commented on #23
I've just created a new issue on the documentation repo as I think it would be advisable that the EBPF enabled option should be referenced there for future users.

[2020-06-01 18:04] frankreno opened #24 "Does this chart replace the helm/stable chart?"
Hi Folks:

I am a PM at Sumo Logic and we package Falco with our chart for collecting data from K8s.  I wanted to confirm that this is the chart that will replace the chart in helm/stable.  We plan to migrate to this chart to get the fix for #10 which is not in helm/stable.  We also want to confirm if there have been any significant changes between `1.1.7` of the helm/stable chart and this chart (

[2020-06-03 08:01] leogr commented on #24
Hi @frankreno

I confirm that [this chart](https://github.com/falcosecurity/charts/tree/master/falco) replaces the chart in helm/stable (that's in the process of [being deprecated](https://github.com/helm/charts/pull/22481)).

Basically, the chart in helm/stable was copied over here, then it was updated to `1.1.8`. You can also find the changelog between `1.1.7` and `1.1.8` [here](https://github.c

[2020-06-03 12:37] wojciesze opened #25 "No support for latest EKS 1.15 and 1.16 Amazon Linux 2 Kernel version (4.14.177-139.253.amzn2.x86_64)"
**Describe the bug**

No falco support for latest EKS 1.15 and 1.16 kernel versions:
[code]

**How to reproduce it**

[code]

[code]

**Expected behaviour**

No `CrashLoopBackOff` for falco pods

**Screenshots**
**Environment**
* falco version: 0.23.0
* System info: AWS EKS Amazon Linux 2: amazon-eks-node-1.15-v20200507
* Cloud provider or hardware configuration: AWS EKS
* OS: Amazon Linux 2
* Ker

[2020-06-03 15:07] frankreno commented on #24
@leogr this is exactly what I needed, thanks much!

[2020-06-03 15:14] leogr commented on #24
You are welcome!

Btw, I keep this issue open until we clarify it within the documentation, in case other people are looking for the same question :)

/kind documentation

[2020-06-09 17:39] nibalizer commented on #4
@zestrells @cpanato that's awesome that you're interested in helping maintain these charts! Thanks! We have some open issues that you can look at. If you'd like some 1:1 to discuss where to help I am on slack or we could schedule a call.

[2020-06-10 16:47] leogr opened #27 "Unix socket support"
**Motivation**

https://github.com/falcosecurity/falco/pull/1217 is getting released very soon (next week).
Moreover we need Unix socket support in falco-exporter :point_right: https://github.com/falcosecurity/falco-exporter/pull/33

**Feature**

Update the Falco's charts to expose the Unix socket.

**Alternatives**

**Additional context**
I'm already working on this
/assign

[2020-06-17 09:41] leogr commented on #13
Both fixed, thanks Spencer!

[2020-06-17 09:41] #13 closed

[2020-06-18 09:57] leogr opened #36 "[falco] Allow extra init container"
**Motivation**

Reporting here the original request asked in https://github.com/helm/charts/issues/22268

**Feature**

Allow extra init container(s) to be added, as Grafana does https://github.com/helm/charts/pull/12343

**Alternatives**

**Additional context**

This feature can be used to run `falcosecurity/driverloader` as init container, then `falcosecurity/falco-no-driver`.
It would help to im

[2020-06-18 15:15] leogr opened #38 "[falco] Enabling SSL for the embedded webserver is not possible / auditLog.dynamicBackend cannot work"
**Describe the bug**

Since the chart does not provide an option to [enable the SSL for the webserver](https://github.com/falcosecurity/charts/blob/2abd4af82df0cad84c5bc1ec54357916a416b5b6/falco/templates/configmap.yaml#L151) and when pointing to a [service reference](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#service-reference) in the AuditSink `clientConfig`  the scheme is

[2020-06-23 14:49] leogr commented on #7
Hi @loetn

sorry for the late response. May #38 and #33 be related to your issue?

[2020-06-25 13:52] fntlnz commented on #25
We recently added support for that kernel https://github.com/falcosecurity/test-infra/blob/master/driverkit/config/422ab408c5706fbdd45432646cc197eb79459169/amazonlinux2_4.14.177-139.253.amzn2.x86_64_1.yaml

PR: https://github.com/falcosecurity/test-infra/pull/139

We have an unrelated problem with publishing the `.ko` file which is affecting our ability to ship this artifact now. It's getting solv

[2020-06-26 17:41] leodido commented on #25
Published now, look here: https://dl.bintray.com/falcosecurity/driver/422ab408c5706fbdd45432646cc197eb79459169/:falco_amazonlinux2_4.14.177-139.253.amzn2.x86_64_1.ko

/close

[2020-06-26 17:41] #25 closed

[2020-06-26 17:41] poiana commented on #25
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/25#issuecomment-650308894):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-07-07 09:45] leogr opened #40 "Request inclusion to hub.helm.sh"
**Motivation**

Please read the discussion we had in the Falco's Slack channel:
https://kubernetes.slack.com/archives/CMWH3EH32/p1593965635011300

**Feature**

We have to follow this process: https://github.com/helm/hub/blob/master/Repositories.md#process-to-add-a-repository

**Alternatives**

**Additional context**

~~We still need to automate the releasing process :point_right: https://github.co

[2020-07-09 10:17] #22 closed

[2020-07-10 13:31] leogr opened #45 "Chart lint check on PRs"
**Motivation**

Helm provides the command `helm lint` that runs a series of tests to verify that the chart is well-formed.
It would be great to add this as a status check for PRs.

**Feature**

Add a CI step for PR's branches that runs `helm lint`.

**Alternatives**

Do nothing.

**Additional context**

This issue follows up the issue #22

/assign

[2020-07-10 14:44] #45 closed

[2020-07-10 16:32] leogr opened #47 "[UMBRELLA] improvements to include other charts"
**Motivation**

This issue tries to summarize all improvements we still need to implement in this repo to include other charts.

References:
 - [slack thread](https://kubernetes.slack.com/archives/CMWH3EH32/p1593965635011300)
 - 2020-07-08 Community call [notes](https://github.com/falcosecurity/community/blob/master/meeting-notes/2020-07-08.md#agenda)

**The current State of Art**

This GitHub pro

[2020-07-10 16:56] nibalizer commented on #47
Thanks @leogr

I'm going to change my earlier position and advocate for putting all the charts into this repository and not support pulling charts from other repos. A couple reasons:

1) It's simpler
2) We don't have a ton of charts out in different repos and the ones we have aren't currently being published)
3) It's a tradeoff between complexity for the developer (chart in a separate repo from co

[2020-07-10 17:57] leogr commented on #47
Hey @nibalizer

I mostly agree with you, except for one thing: having all sources here it's simpler at the beginning but it's really hard to maintain afterward.
Especially to keep in sync configurations and stuff, or when you want to implement things like [this](https://github.com/falcosecurity/falco-exporter/blob/66d3be883ec31872e7fb1d1358bf79d014ffbb79/Makefile#L13).

That being said, I'm open t

[2020-07-10 19:22] nibalizer commented on #47
Oof yes that would be annoying... 2 or 3 commits per change.  :/

[2020-07-13 08:24] Issif commented on #47
I get your point but as a maintainer of an helm chart I prefer to deal with a simple MR to that repo than handling with a much complex CI.
I'm pretty sure the onboardings of new helm charts will be much harder than only add them into this single repo.

[2020-07-15 13:26] leogr commented on #24
Since the old chart has been removed from `helm/stable` and our README has been updated, I believe we can finally close this issue.

[2020-07-15 13:26] #24 closed

[2020-07-15 13:32] leogr opened #48 "Update the Falco's Helm chart once Falco 0.24.0 has been released"
**Motivation**

We just need to keep the chart in sync.

**Feature**

- [x] Merge https://github.com/falcosecurity/charts/pull/29 (Unix socket support)
- [x] Update the ruleset (grab files from the Falco's main repository once the release has a git tag)
- [x] Update `falco/Chart.yaml` with `appVersion: 0.24.0`
- [x] Release a new Falco chart version (bump to 1.2.0 since a new feature has been adde

[2020-07-15 13:45] leogr commented on #47
I really believe that having sources in their repos is a good thing (not for all projects, but sure for tools like falco-exporter and falcosidekick).

That being said, since we have just two projects under this situation, and since I really understand your concerns about complexity... I have changed a bit my mind and I agree to just move charts' sources to here.
It's a trade-off and it makes sense

[2020-07-15 16:05] nibalizer commented on #47
Thanks team :)

[2020-07-15 16:18] leogr commented on #47
Marked with "won't fix" and closing as discussed in today community call.

Thanks to everyone participated in the decision :)

[2020-07-15 16:18] #47 closed

[2020-07-17 07:17] #27 closed

[2020-07-17 08:16] #48 closed

[2020-07-19 10:39] tuapuikia commented on #7
I use ingress to expose the Falco service. By design kube-api are not suppose to resolve .svc.cluster.local / falco.default.svc.

Another solution is using Host installation method.

Below is the error if roll back to use http.

`
2020-07-19T09:38:02.92953237Z AUDIT: id="xxxxxxxxx" stage="ResponseComplete" ip="127.0.0.1" method="get" user="system:kube-scheduler" groups="\"system:authenticated\"" a

[2020-07-20 14:20] blame19 opened #53 "Setting up liveness and readiness probes on falco"
**Motivation**
As part of Kubernetes' best practices, I'd like to set Readiness and Liveness probes on all the containers deployed on my infrastructure. As of now, the chart lacks this capability.

**Feature**

At the moment Falco doesn't define any probe. We'd like to have a way to check if the container is running correctly; this is a bit challenging since it's not clear what we could check to e

[2020-07-21 08:28] leogr commented on #40
Requested by https://github.com/helm/hub/pull/409

/assign

[2020-07-21 11:00] fjudith opened #54 "Duplicate mount point"
**Describe the bug**

Since v1.2.x, Falco pods are Crashlooping due to duplicate mountpoint error related to `/var/run/falco`

[code]

**How to reproduce it**

Run the following command to install Falco with grpc enabled:

[code]

**Expected behaviour**

v1.1.10 is working fine.
`shared-pipe` and `grpc-socket-dir` are both pointing to the `/var/run/falco` directory.

[code]

**Environment**

Kuber

[2020-07-21 17:49] leogr commented on #54
/assign

[2020-07-21 17:55] fjudith commented on #54
I found a temporary workaround by disabling the Unix socket. I'm enabling GRPC in order to use the `falco-exporter`.

falco `values.yaml`

[code]

falco-exporter `values.yaml`

[code]

[2020-07-21 17:57] leogr commented on #54
Hey @fjudith

Thank you for reporting this problem.

I will work on this shortly.

[2020-07-22 09:35] leogr commented on #54
Hey @fjudith

Could you try my PR https://github.com/falcosecurity/charts/pull/55 please?

It should fix this problem, let me know!

Thanks in advance

[2020-07-24 12:33] leogr commented on #40
Done :point_right: https://hub.helm.sh/charts/falcosecurity :tada:

[2020-07-24 12:33] #40 closed

[2020-07-24 12:37] leogr opened #58 "Chart testing tool"
**Motivation**

As originally asked within #6

**Feature**

Add a step in the CI pipeline to perform automated testing, for example using this [tool](https://github.com/helm/chart-testing)

**Alternatives**

**Additional context**

[2020-07-24 12:37] leogr commented on #6
Closed in favor of https://github.com/falcosecurity/charts/issues/58

[2020-07-24 12:37] #6 closed

[2020-07-24 19:58] NingPekin opened #59 "Why ImagePullPolicy is default as Always"
Hi,
I am seeing ImagePullPolicy is configured as Always for `nats`, `sns` and `pubsub `
https://github.com/falcosecurity/charts/blob/master/falco/templates/daemonset.yaml#L145
https://github.com/falcosecurity/charts/blob/master/falco/templates/daemonset.yaml#L154
https://github.com/falcosecurity/charts/blob/master/falco/templates/daemonset.yaml#L179

Could you please elaborate if there is any spec

[2020-07-27 09:12] leogr commented on #59
I guess because of `:latest`.

Anyway, I agree to parameterize those values. Feel free to open a PR, if you'd like.

[2020-07-27 14:58] nvanheuverzwijn opened #61 "Missing falco_debian_4.9.0-11-amd64_1.o"
**Describe the bug**
Url to download ebpf driver for kernel version 4.9.0-11-amd64_1, 4.9.0-12-amd64_1, falco_debian_4.9.0-13-amd64_1 are missing the .o file but the .ko file are there. All other kernel seems to have th e.o file.

See this url
https://dl.bintray.com/falcosecurity/driver/85c88952b018fdbce2464222c3303229f5bfcfad/falco_debian_4.9.0-11-amd64_1.o returns 404.

Resulting in there error

[2020-07-27 17:57] nvanheuverzwijn commented on #61
Oops, this seem to be normal as kernel 4.14 is required for ebpf!

Sorry about that, cheers!

[2020-07-27 17:57] #61 closed

[2020-07-30 17:47] rcompos opened #64 "Fix for additional labels for falco-exporter servicemonitor"
**Describe the bug**

When deploying falco-exporter Helm chart with servicemonitor.additionallabels in values.yaml, the chart fails unless the value is a string, in which case the label is not created.

**How to reproduce it**

Edit values.yaml and add some servicemonitor additionallabels as map value(s).

[code]

[code]

**Expected behaviour**

The additionallables should be created in the servic

[2020-07-31 08:50] leogr commented on #64
Hi @rcompos

Good catch!

Could you open a PR to fix it?

[2020-07-31 08:59] leogr commented on #8
This should be fixed within the latest chart version. Could you confirm pls?

[2020-08-03 12:13] usamaahmadkhan commented on #8
Working with chart `1.2.1` and falco version `0.24.0`

[2020-08-03 12:13] #8 closed

[2020-08-03 16:25] #64 closed

[2020-08-03 17:39] rcompos commented on #64
I tried to open a PR but I don't have the privileges.  Thanks!

[2020-08-07 11:16] jozseffarago opened #67 "Dummy chart miss-use."
**Describe the bug**

Upon updating falco helm chart from 1.0.10, we experienced non-start problems with falco. After discussion with @leogr he noticed we are using the dummy chart in the helm stable repo, but in this case we should have an nginx in the cluster, and not falco. We had a falco deployment without the necessary mountpoints, so it failed to start up.

**How to reproduce it**

We are us

[2020-08-07 13:42] leogr commented on #67
Hi @jozseffarago

Thank you for reporting this! I've cross-linked the issue ( https://github.com/helm/charts/issues/23478 ), hoping they can fix this problem.

[2020-08-25 12:22] #54 closed

[2020-08-26 08:24] leogr opened #79 "Add the CHANGELOG.md to falcosidekick"
**What to document**

Currently, the `falcosidekick` chart has no changelog. It would great if we introduced it.

[2020-08-26 08:27] leogr commented on #4
We still need help!

Btw, I think it's time to add @Issif to the `OWNERS` for falcosidekick :)

[2020-08-26 08:40] Issif commented on #79
Ok, the changelog is only for what concern the helm chart?

[2020-08-26 09:01] leogr commented on #79
Yes, exactly.

BTW: Unfortunately, it's a manual process - I know. Anyway, it's not needed to be too precise, but at least it will help folks to understand what has changed. Also, I'd like to automatize that in the future, any idea about that is welcome!

[2020-08-26 09:15] Issif commented on #79
Ok, will try to do so asap

[2020-08-26 11:46] SamarSidharth opened #80 "[Falco 0.23.0] Falco pod is failing in kubernetes cluster due to dkms build failed"
**Describe the bug**
I am trying to install falco on my RHEL 7.7 k8s cluster but the falco pod goes into error state due to dkms build failed

Falco prebuilt module not getting downloaded is expected as there is no internet connectivity in the env, but in case of RHEL it is looking for the module with rhel as a prefix whereas the module exists with centos prefix in the repository

**How to reprodu

[2020-08-26 13:19] leogr commented on #80
Hi @SamarSidharth

thanks for reporting this here!

Anyway, what's the version are you using? 0.23.0 or 0.25.0?
Also, what's the helm chart version?

Please, also - in case you didn't do that yet -  try with the latest Falco chart (v1.3.0) that comes with Falco 0.25.0

[2020-08-26 13:33] SamarSidharth commented on #80
Hi @leogr

I am using falco 0.23.0 with helm chart version: 1.1.9.
I will try it with the new version of falco and helm chart and will let you know the results.

Regards,
Samar Sidharth

[2020-08-26 13:54] SamarSidharth commented on #80
Hi @leogr

I have tried it with the latest version(falco: 0.25.0 and helm chart: 1.3.0) but result is still the same.

falco                                           1               Wed Aug 26 13:47:53 2020        DEPLOYED        falco-1.3.0                         0.25.0          default

kubectl logs -f falco-49mg9
* Setting up /usr/src links from host
* Running falco-driver-loader with: driver

[2020-08-26 14:04] SamarSidharth commented on #80
Hi @leogr

Thanks a lot for your valuable suggestion the issue got fixed after installing kernel header on my host machine.

Regards,
Samar Sidharth

[2020-08-27 08:55] leogr commented on #80
Hi @SamarSidharth

you are welcome!

Since this has been solved, but we still have a documentation problem, I have opened an issue here :point_right: https://github.com/falcosecurity/falco-website/issues/240 and closing this.

Thank you, again, for reporting this!

[2020-08-27 08:55] #80 closed

[2020-08-27 09:36] huiwq1990 opened #83 "helm compatible with lower k8s version"
**Motivation**

My kubernates version is v1.14.6, `auditsink.spec.webhook.clientConfig.service` does not contain `port` field.

**Feature**

chart `falcosecurity/falco` would compatible with lower version?

**Additional context**

[code]

[2020-09-10 09:18] Issif opened #88 "Duplicate entry in values of falcosidekick"
The parameters for `webhook` output are duplicated, see : https://github.com/falcosecurity/charts/blob/204485654d288e9ba8a92c3290edd41a1b8a304b/falcosidekick/values.yaml#L125

**Expected behaviour**

Remove useless block

**Screenshots**

N/A

**Environment**

N/A

**Additional context**

N/A

[2020-09-15 23:04] irivera007 opened #91 "Error loading rules: Unknown event/syscall "renameat2""
Following the same comment here: https://github.com/falcosecurity/falco/issues/1380
Im seeing the same issue using charts.
Im wondering when this change https://github.com/falcosecurity/falco/pull/1381
is gonna get ported here.

Thank you

[2020-09-16 07:21] leogr commented on #91
If you see that issue, I guess you're using Falco 0.24.0 with newer rules. Please make sure you have the latest chart version (that includes the ruleset for Falco 0.25.0) and using Falco 0.25.0.

https://github.com/falcosecurity/falco/pull/1381 has been just merged into the master branch but it's not yet released neither on Falco nor here.
Usually, when the new Falco release is available we also u

[2020-09-16 12:49] leogr opened #92 "Add an example of how to use `extraInitContainers` configuration."
**Motivation**

See #36 and https://github.com/falcosecurity/charts/pull/89#pullrequestreview-488882738

**Feature**

Add an example of how to use `extraInitContainers` configuration.

**Alternatives**

**Additional context**

We may need an extra mount to pass the driver from the init container to the Falco container.
Thanks to @Fsero for his PR #89 and the [initial example](https://github.com/fa

[2020-09-16 12:55] #36 closed

[2020-09-16 18:18] irivera007 commented on #91
Hi @leogr Thank you for the insight

That did the trick, thank you, there was an extra values.yaml that was overriding the the falco version,
Again thank you so much!

[2020-09-17 07:18] leogr commented on #91
You are welcome!

I'm closing this since the expected behavior is that "the lastest chart version is just intended to work with the last Falco version".

/close

[2020-09-17 07:18] #91 closed

[2020-09-17 07:18] poiana commented on #91
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/91#issuecomment-694024052):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2020-09-18 11:55] #79 closed

[2020-09-18 16:35] prameetpatil commented on #8
still not working with chart 1.2.1 and falco version 0.24.0
`* Setting up /usr/src links from host
* Running falco-driver-loader with: driver=module, compile=yes, download=yes
* Unloading falco module, if present
* Trying to dkms install falco module
* Running dkms build failed, couldn't find /var/lib/dkms/falco/85c88952b018fdbce2464222c3303229f5bfcfad/build/make.log
* Trying to load a system falc

[2020-09-19 08:42] prameetpatil opened #96 "Runtime error: error opening device /host/dev/falco0. Make sure you have root credentials and that the falco module is loaded.. Exiting."
**Describe the bug**
I'm trying to deploy Falco in Openshift 4.5.0-0.okd-2020-07-29-070316 with Falco version 0.25.0 using helm, and facing the follwing error:

[code]

**How to reproduce it**

falco chart:1.4.0
falco image:0.25.0

**Expected behaviour**
successfully deploy falco pods on openshift(okd)

**Screenshots**

**Environment**

- Falco version: `0.25.0`,`0.24.0`,`master`

- System info:

[2020-09-19 10:14] #88 closed

[2020-09-20 08:01] #96 closed

[2020-09-20 08:01] prameetpatil commented on #96
worked with --set ebpf.enabled=true

[2020-09-20 09:22] dza89 opened #97 "Integrate Falco exporter into Falco pod"
**Motivation**
So right now Falco and Falco-exporter are two different helm charts resulting in two different pods, which are pretty much dependent on each other. I have two issues with that:

1. The easiest way to setup is using the gRPC socket. Which means both pods need a extra host mount to set up communication. This is not a best practice. It would be better to setup communication through net

[2020-09-21 08:46] leogr commented on #8
Prebuild drivers are provided on a best-effort basis. AFAIK, we are not providing prebuild drivers for Fedora. Feel free to propose that [here](https://github.com/falcosecurity/test-infra/tree/master/driverkit).

[2020-09-23 09:50] leogr commented on #97
Hi @dza89

Thanks for bumping this topic up.

TBH, I would not like a big full-featured chart, for several reasons:
- the chart would be more complex to test and maintain
- there's a legit use case where Falco is directly installed on the host (so no pod or container); in that case, a separate falco-exporter chart will be still needed
- other tools using the gRPC API may be added in the future; th

[2020-09-30 12:23] czunker opened #100 "Broken link to k8s_audit_config"
**Describe the bug**

The link to the k8s_audit_config scripts is broken and results in a 404.
The section of the docs with the broken link: https://github.com/falcosecurity/charts/tree/master/falco#enabling-k8s-audit-event-support

**How to reproduce it**

Try to follow the link.

**Expected behaviour**

Page with mentioned scripts.

[2020-09-30 12:42] #100 closed

[2020-09-30 15:36] PhilipSchmid opened #102 "falco-exporter: Documentation about the falco gRPC socket communication"
Hi there,

Unfortunately for me it's unclear how the falco-exporter should be able to access the falco output events. The [falco-exporter/README.md](https://github.com/falcosecurity/charts/tree/master/falco-exporter) lists the `falco.grpcUnixSocketPath` configuration possibility but does not say what needs to be configured on the other side in the falco Helm chart [falco/README.md](https://github.

[2020-09-30 15:51] PhilipSchmid opened #103 "falco-exporter: Add PSP, Role and RoleBinding Helm templates to the chart"
Hi there,

**Motivation**

I'm currently working in a quite restrictive K8s environment and unfortunately wasn't able to deploy falco-exporter until now since the falco-exporter Helm chart only comes with a [ServiceAccount "falco-exporter"](https://github.com/falcosecurity/charts/blob/master/falco-exporter/templates/serviceaccount.yaml) but without any configuration about the required PSP privileg

[2020-09-30 16:42] leogr opened #104 "Linting errors"
**Describe the bug**

A linting problem with the Falco [occurred in the CI](https://app.circleci.com/pipelines/github/falcosecurity/charts/100/workflows/2dfed5fc-0ee7-48a6-af03-b9b599741f61/jobs/91):
[code]

**How to reproduce it**

Try `helm lint` (with the latest helm version).

**Expected behaviour**

No errors.

**Screenshots**

https://app.circleci.com/pipelines/github/falcosecurity/charts/10

[2020-09-30 16:54] leogr commented on #102
Hi,

falco-export connects to Falco via gRPC (over a Unix socket in the default configuration), enabling the gRPC is indeed a prerequisite.

The first section of the [falco-exporter chart README.md](https://github.com/falcosecurity/charts/blob/master/falco-exporter/README.md#falco-exporter-helm-chart) reports:

Anyway, I can understand that those instructions are maybe not so visible.

Please, fee

[2020-09-30 21:58] PhilipSchmid commented on #102
Hi @leogr

Sorry, my bad. I would have expected this hint in the description column of the `falco.grpcUnixSocketPath` configuration value.

Thanks!

Regards,
Philip

[2020-09-30 21:58] #102 closed

[2020-10-01 08:12] dza89 commented on #97
Subcharts won't help as I want to place falco-exporter in the same deployment as Falco.
That's why I also suggested to split it into two charts: falco-full and falco-slim.
But maybe I should just fork it. Close for now.

[2020-10-01 08:12] #97 closed

[2020-10-01 11:36] leogr commented on #103
Hey,

good questions. TBH, I have not found the time to dig into that, anyways:
- falco-exporter really needs just the `hostPath` to work properly
- falco-exporter does not add a ServiceMonitor and/or a Grafana Dashboard ConfigMap, the helm chart does that on installation
- the Grafana Dashboard ConfigMap is not used by falco-exporter itself, Grafana should consume it
- same for the ServiceMonitor

[2020-10-01 13:40] PhilipSchmid commented on #103
Hi @leogr,

Ahright, of course 💡! Helm deploys the Grafana and ServiceMonitor stuff so the ServiceAccount does not need this privileges. I was able to bring falco-exporter UP using the following objects:

[code]

If you want I could add these to the templates and create a PR within the nest few days. Would you be interested in this?

Thanks!

Regards,
Philip

[2020-10-01 15:02] PhilipSchmid opened #109 "falco-exporter: grafanaDashboard.enabled does not handle prometheus data source correctly"
**Describe the bug**

When falco-exporter is configured with the following values, the dashboard is created inside Grafana via ConfigMap (`grafana-falco`) but does not work since the data source variable `${DS_PROMETHEUS}` doesn't seem to be replaced.

[code]

JSON model of the imported "Falco Dashboard":
[code]

TBH I'm not sure how exactly the `${DS_PROMETHEUS}` is handled and if it even should

[2020-10-01 16:46] #104 closed

[2020-10-02 07:51] leogr commented on #109
/cc @dza89

[2020-10-02 07:54] leogr commented on #103
Yes, it would be great! :+1:

Thank you @PhilipSchmid

[2020-10-02 08:59] PhilipSchmid commented on #103
Currently on wait until https://github.com/falcosecurity/falco-exporter/issues/42 is resolved. I first need to know which PSP properties can be set to which values.

[2020-10-02 09:28] leogr commented on #103
I have replied to the other issue. Btw, I think `allowPrivilegeEscalation` can be set to false.

[2020-10-02 11:13] czunker opened #110 "falcosidekick does not provide PodSecurityPolicy"
**Describe the bug**

The helm chart has a switch to create a PodSecurityPolicy: `podSecurityPolicy.create`
But this switch only adds a ClusterRole and RoleBinding.

**How to reproduce it**

Install helm Chart with `podSecurityPolicy.create=true`

**Expected behaviour**

Creates a matching PodSecurityPolicy for falcosidekick.

**Environment**

- Falco version:
falcosidekick version: 2.14.0
falcosi

[2020-10-05 08:54] #110 closed

[2020-10-05 14:22] #103 closed

[2020-10-05 16:43] PhilipSchmid opened #115 "falco-exporter: Using imagePullSecrets conflicts with PSP"
**Describe the bug**

The usage of imagePullSecrets is currently not working with the falco-exporter default PSP which only allows volumes of type `hostPath`. https://github.com/falcosecurity/charts/blob/0e32bbeb66b2781842e6829e0ba69980dd18e7de/falco-exporter/templates/podsecuritypolicy.yaml#L26

Example:

A Falco-Exporter values file with the following config ...
[code]
... is not able to run ...

[2020-10-05 16:45] leogr commented on #115
Good catch, thank you. I did not consider that. Have you checked for other similar issues yet?

[2020-10-05 17:20] PhilipSchmid commented on #115
Otherwise it runs as excepted with the following Helm values configuration:

[code]

Regards,
Philip

[2020-10-06 09:15] #115 closed

[2020-10-06 09:31] PhilipSchmid commented on #115
@leogr Thanks for merging! I just tested the falco-exporter Helm chart version 0.3.7 and I can now confirm that it works as expected🎉 (same chart values as stated above).

Regards,
Philip

[2020-10-06 10:15] leogr commented on #115
Thank you for these contributions! :clap:

Really appreciated :+1: :partying_face: :rocket: :smile_cat:

[2020-10-06 11:42] czunker commented on #103
Hi,

please re-open the issue.
The PSP is missing `secret` as allowed volume.

The daemonset might explicitly need a secret: https://github.com/falcosecurity/charts/blob/master/falco-exporter/templates/daemonset.yaml#L74

And even when not explicitly needed, the Service Account secret is automounted:
[code]

[2020-10-06 11:47] PhilipSchmid commented on #103
Hi @czunker,
Why re-open? The volume type `secret` PSP issues should already be fixed with https://github.com/falcosecurity/charts/pull/117

Try falco-exporter chart version 0.3.7. There it's working justs fine - even with a configured imagePullSecret.

Regards,
Philip

[2020-10-06 11:58] czunker commented on #103
Thanks @PhilipSchmid Didn't see this one.
And thanks for already fixing it.

[2020-10-06 13:20] PhilipSchmid opened #119 "Add hacktoberfest topic to this repository"
Hi there,

**Motivation**

I just saw that you guys added the `hacktoberfest` topic to the https://github.com/falcosecurity/falco repository and I just wondered why not also on this charts repository. Is there a reason or could your add this topic here too?

Further details regarding this topic: https://hacktoberfest.digitalocean.com/details#details

**Feature**

Please add the `hacktoberfest` top

[2020-10-10 15:30] PhilipSchmid commented on #119
Hi @leodido

How about just adding the `hacktoberfest-accepted` label to really helpful PRs? This should be sufficient according to https://hacktoberfest.digitalocean.com/hacktoberfest-update.
For example https://github.com/falcosecurity/charts/pull/114 or https://github.com/falcosecurity/charts/pull/117 :stuck_out_tongue:

Thanks!

Regards,
Philip

[2020-10-13 09:01] osaffer opened #121 "Error: failed to download "falcosecurity/falco"
Hi,

Helm is not able to download .

helm repo add falcosecurity https://falcosecurity.github.io/charts
"falcosecurity" has been added to your repositories
helm repo update
Hang tight while we grab the latest from your chart repositories...
...Successfully got an update from the "nginx-stable" chart repository
...Successfully got an update from the "falcosecurity" chart repository
...Successfully

[2020-10-13 09:36] leodido commented on #121
/assign @leogr PTAL

[2020-10-13 09:36] poiana commented on #121
@leodido: GitHub didn't allow me to assign the following users: PTAL.

Note that only [falcosecurity members](https://github.com/orgs/falcosecurity/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contr

[2020-10-13 09:52] leogr commented on #121
I have tried right now, and it worked for me.

[code]

[code]

Could you add more details to reproduce the problem?

[2020-10-13 14:27] osaffer commented on #121
Hi,

I am behind a proxy, I asked team to open access to https://falcosecurity.github.io/charts

Usually it is enough, maybe, there is a need to open other access ?

[2020-10-13 14:42] leogr commented on #121
I guess you need also https://github.com/falcosecurity/charts/releases to download the packaged chart (e.g. https://github.com/falcosecurity/charts/releases/download/falco-1.5.0/falco-1.5.0.tgz )

If your cluster is behind a proxy too, the cluster will need access to dockerhub to pull the image (and likely a lot of other things to build or download the driver).

[2020-10-13 14:44] leogr commented on #121
Btw, just changed the label, since this cannot be considered a bug, IMHO.

[2020-10-13 15:11] osaffer commented on #121
I can wget  https://github.com/falcosecurity/charts/releases

but

wget  https://github.com/falcosecurity/charts/releases/download/falco-1.5.0/falco-1.5.0.tgz --no-check-certificate

The proxy blocks Location: https://github-production-release-asset-2e65be.s3.amazonaws.com/265029832/86113b80-0416-11eb-9f25-fc01f7fc59a1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F202010

[2020-10-13 15:13] osaffer commented on #121
But it is ok, I have downloaded the package manually.

Regards,

[2020-10-13 23:02] pstackle opened #122 "Add support to chart to work with 'helm template'"
**Motivation**
It would be very helpful to be able to use the falco chart in a GitOps pipeline (e.g. [Flux](https://github.com/fluxcd/flux)) or via Spinnaker's [Bake Manifest stage](https://spinnaker.io/guides/user/kubernetes-v2/deploy-helm/). For the Flux use case, this involves using `helm template` to render the chart's contents into fully populated manifests and then committing the manifests t

[2020-10-14 15:58] leogr commented on #122
I like this idea, and I totally agree with you. Would you like to make a PR? If yes, please do!

cc @maxgio92 Could that help with rendering manifest files for the evolution repository too?

[2020-10-14 16:23] leogr opened #123 "Deprecate Falco's chart integrations in favor of falcosidekick"
**Motivation**

Falco's chart comes with various [thirdy-party integrations](https://github.com/falcosecurity/charts/blob/master/falco/values.yaml#L283-L334) that seems to be not maintained anymore.

Moreover, the current implementation of those integrations relies on several docker images that live outside the falcosecurity org:
https://github.com/falcosecurity/charts/blob/524dcbce776c8696ac23552

[2020-10-14 16:36] leogr commented on #123
cc'ing folks that might be using those integrations:
@fjudith @dza89 @NingPekin

[2020-10-14 16:50] nibalizer commented on #123
I greatly agree, we can better support these kinds of things in the sidekick. I'd even say we should default the http output option to `http://falco-sidekick:2801` or similar.

[2020-10-14 17:56] Issif commented on #123
I even thought about integrating falcosidekick in falco's chart, as a dependency, what do you think about?

[2020-10-14 18:23] nibalizer commented on #123
I'm not sure. I would like a single entry point for users. However I feel that bloated code and tons of options doesn't serve the users well. Separation is good, however Helm doesn't seem to have the best tooling to support collections of charts working together.

I found these two things:

* https://github.com/roboll/helmfile
* https://helm.sh/docs/chart_best_practices/dependencies/

Neither of w

[2020-10-14 18:53] Issif commented on #123
I agree. I just wondered if we could just enable the import of falcosidekick"s chart with a boolean, but it doesn't seem possible with helm. When all will be ready in falcosidekick, its chart and this. I will write the relative documentation.

[2020-10-14 21:56] Issif commented on #123
For `GCloud Security Command Center`, I checked the current implementation, it's just a simple curl. The `webhook` output in falcosidekick will work, it only needs a way to specify the `Authorization Token` as header, and this is possible since tonight, in that branch : https://github.com/falcosecurity/falcosidekick/tree/authorization-header.

After implementation of `PubSub`, falcosidekick will b

[2020-10-15 03:50] zhaocheng173 opened #124 "How are the rules for Falco configured, or what should be added to falco in a production environment"
At present, I have deployed a group of falco containers to run in the k8s cluster through helm. The current rules are not clear to me. I can only see the changes of the current node's container when I touch a file. This rule Are there any best practices in the production environment, which rules should be added, and how to modify or add rules? I am not familiar with this area, I hope I can get you

[2020-10-15 10:49] leogr commented on #124
PTAL :point_right: https://github.com/falcosecurity/charts/tree/master/falco#loading-custom-rules

[2020-10-16 03:37] zhaocheng173 commented on #124
Ok,thanks, I tried the Falco rule of scripts, I commented out the values rule, by default I turned on the APiserver rule, but there seems to be a problem, no macros defined

[code]

[code]
I tried to export the values rule of helm and commented out the original rule. I thought that the rule would only be valid for apiserver rule at present, but the following error occurred

[code]

I'm not clear a

[2020-10-16 11:00] zhaocheng173 commented on #124
I found these 3 rules in Rules-Kube-apiserver.Yaml, I don't know if there are 3 rules. I tested the container to call SVC of K8S, and the detailed information I received through Falco is as follows
[code]

[code]
For this to I feel to Unexpected syscall kube_apiserver, and Unexpected the inbound TCP connection kube_apiserver and Unexpected spawned process kube_apiserver both content I should how t

[2020-10-16 19:50] perezjasonr commented on #92
second this motion, I immediately wanted to try the driver as an initContainer but realized I couldn't add a volume for .falco path

[2020-10-16 20:03] perezjasonr opened #126 "file opened example rule not capturing"
I'm using the custom rules entry to add the file opened example rule and it doesn't seem to be captured.

**How to reproduce it**

add the following rule using the custom rules entry in your helm values file:

[code]
then run the helm install as per usual.

I ran exec calls both directly calling ls/pwd/cat and also ran interactive bash terminal then calling ls/pwd/cat within that session, but I do

[2020-10-19 04:04] zhaocheng173 commented on #124
This rule is generated under the default falco_rules.YAMl, which describes what conditions are generated by the rule without default falco, such as custom rules
[code]

[2020-10-19 09:28] leogr commented on #124
The rule you mentioned is here:
https://github.com/falcosecurity/charts/blob/master/falco/rules/falco_rules.yaml#L2424-L2435

[2020-10-20 06:14] zhaocheng173 commented on #124
Yes, I see it, but I also provide some custom rules, how can I verify that it is valid, such as apiserver's rule mentioned above generated 3 notice events

[2020-10-20 08:34] zhaocheng173 commented on #124
I deployed the K8S cluster using Kubeadm, which defaulted to CenOS-7.8 and the kernel version was 3.10.0-1127.el7.x86_64
And I added all three parameters to all three of my master nodes
--audit-dynamic-configuration=true
--feature-gates=DynamicAuditing=true
--runtime-config=auditregistration.k8s.io/v1alpha1=true
The rules have been added to the POD at deployment time, as you can see in the logs, b

[2020-10-20 14:32] perezjasonr opened #127 "falco helm chart doesn't deploy operator"
**Motivation**

not a problem, but an improvement

**Feature**

Custom rule seems to be a helm entry, but the falco operator allows for this to be a crd

**Alternatives**

Unless theres a reason why it doesn't, helm chart should deploy the falco operator (it can include of course the option to deploy an instance within it...a good example would be the jaeger helm chart).

**Additional context**

J

[2020-10-21 12:23] czunker opened #128 "falco fake event generator does not start in PSP enabled k8s cluster"
**Describe the bug**

When enabling the fake event generator in an PSP enabled custer, the POD cannot be create:
[code]

**How to reproduce it**

Deploy the falco helm chart the `--set fakeEventGenerator.enabled=true` in an PSP-enabled k8s cluster.

**Expected behaviour**

The POD gets scheduled.

**Screenshots**

**Environment**

k8s 1.18.8 with PSPs enabled
helm v3.3.4
falco helm chart master br

[2020-10-21 13:00] #128 closed

[2020-10-21 13:59] SamarSidharth opened #130 "Enabling k8s audit event support not working on k8s version 1.18.5"
**Describe the bug**
Unable to see the k8s audit events in the Falco logs after enabling the k8s audit event support

I have a local k8s setup with one master and one worker node, I am trying to enable the k8s audit event support by following https://github.com/falcosecurity/charts/tree/falco-1.5.1/falco link. I am able to execute the instructions successfully but not able to see the k8s audit eve

[2020-10-22 02:29] zhaocheng173 opened #131 "The from https://dl.bintray.com/falcosecurity/driver access failure"
[code]

[2020-10-23 06:42] zhaocheng173 commented on #124
How do I turn on one of the rules in Falco_rules.YAML, many of which I find to be off

[2020-10-27 10:46] leogr commented on #124
PTAL :point_right: https://github.com/falcosecurity/charts/blob/master/falco/values.yaml#L104

[2020-10-27 17:03] nhuray opened #134 "Falco on GKE/COS - Unable to download Kernel headers"
**Describe the bug**

Using official Helm chart and enabling eBPF on a GKE cluster, the Kernel headers cant't be downloaded because they are not found in  `https://dl.bintray.com/falcosecurity/driver`

**How to reproduce it**

Install Falco using helm chart on a GKE cluster (1.16.13-gke.401) running COS instances and enable `ebpf` as defined in the [documentation](https://falco.org/docs/third-part

[2020-10-28 14:03] nhuray commented on #134
Thanks @leodido

For some reasons running directly `helm` with the command you gave to me works:

[code]

I have to investigate why it fails when I edit the values.yaml ...

I let you know during the day if I found the issue if it's a mistake on my side or a real bug !

Thanks again

[2020-10-28 14:40] nhuray commented on #134
@leodido I found my mistake.

Actually I'm deploying Falco using the helm chart and ArgoCD.

Because previous version of ArgoCD was not creating a default namespace the common practice was to create a wrapper Helm chart. So a directory structure like that:

[2020-10-29 10:51] leogr commented on #123
Hey

I would like to introduce a deprecation notice in the Falco chart right now. WDYT?

[2020-10-29 14:21] leogr commented on #134
@nhuray Thanks for the explanation!

Happy to see you solved that.

/close

[2020-10-29 14:21] #134 closed

[2020-10-29 14:21] poiana commented on #134
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/134#issuecomment-718785347):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2020-10-29 16:37] Issif commented on #123
@leogr It could be add in `_helpers.tpl`, I agree.

[2020-10-30 09:19] leogr commented on #131
This should be fixed now, could you confirm?

[2020-10-30 09:24] leogr commented on #92
I believe we need something like `extraInitVolume`. It would great if someone could help with that.
@perezjasonr btw, feel free to make a PR!

[2020-10-30 09:35] leogr commented on #126
The rule is not triggered because such programs are likely using another syscall, for example, `openat`.
Indeed, I have just tried `cat` with this condition `proc.name in (my_programs) and evt.type=openat` and it worked for me.
That's not a bug, it's just the expected behavior.

Moreover, you may find [these macros](https://github.com/falcosecurity/falco/blob/294804daf436b4d146731322f46a99e2736fee

[2020-10-30 09:37] leogr commented on #121
Closing this, since I believe it has been addressed. Feel free to comment or re-open the issue if it was not.

[2020-10-30 09:37] #121 closed

[2020-10-30 09:38] #131 closed

[2020-10-30 09:40] leogr commented on #4
I believe it's all done now, so closing.

[2020-10-30 09:40] #4 closed

[2020-10-30 13:24] perezjasonr commented on #92
I believe we do too.
Sure I can maybe look into trying to contribute, although I'd be starting from scratch I haven't looked at the inner workings/code. Whats the best way to get started?

[2020-11-01 19:44] nhuray opened #136 "Small typo in values.yaml for OpsGenie apiKey"
Hi Falco charts maintainers,

I found a small typo in values.yaml for OpsGenie apiKey.

`aipKey` instead of `apiKey`

https://github.com/falcosecurity/charts/blob/dc90844d7a0e49a1c2f8b586c2b888460ec93598/falcosidekick/values.yaml#L120

Regards,

[2020-11-01 20:24] Issif commented on #136
Hi @nhuray, thanks, I'll fix it soon.
I released a new version of falcosidekick few days ago and I've to update the chart for.

[2020-11-02 09:23] leogr commented on #92
Take a look at #36. Also, the Grafana Helm chart did about the same thing, that could be inspirational :point_right: https://github.com/helm/charts/pull/12343/files

Moreover, note that an extra dir mount can be handy for the eBPF probe use case. Unlike the kernel module, the probe needs to be passed (as a `.o` file) to the Falco process that will load it at runtime. The default path where Falco l

[2020-11-12 14:39] CyberHippo opened #138 "Falco rules are out of date"
**Motivation**

I am running falco using the [Helm chart](https://github.com/falcosecurity/charts/tree/master/falco).

It would be nice for the image `falcosecurity/falco` to be part of the list `falco_sensitive_mount_images` by default to prevent the following logs from appearing :

[code]

This issue seems related to [this issue](https://github.com/falcosecurity/falco/issues/1428) and it looks l

[2020-11-12 15:21] leogr commented on #138
We usually keep in sync the ruleset to the released Falco version.
Since those rule fixes have not been released yet, the chart does not yet include them.

I will update the whole ruleset as soon as the next Falco release (v0.27.0) comes out (planned for Dec 1st).

Btw, I can agree this process is not optimal. We're just using this releasing strategy to ensure that the whole ruleset works well wit

[2020-11-12 15:25] CyberHippo commented on #138
Hi @leogr ,

Thanks for the prompt answer ! No worries.
I can wait until the next release.

Thanks for all the great work on Falco btw, amazing tool.

[2020-11-12 15:25] #138 closed

[2020-11-13 17:08] perezjasonr commented on #92
@leogr
im actually still considering contributing and trying to implement this, but from what im seeing a lot of this is in C++?
should I only pursue being a contributor if I'm confident in C++ because I certainly am not.

[2020-11-13 18:10] leogr commented on #92
Hey @perezjasonr

it would be great if you contributed, and there are a lot of things that do not require C++  knowledge. There's no need for C++ to solve this specific issue, for example. :smiley:

If you are interested or just want to chat about this, you can find me and the rest of the community in the #falco slack channel on the Kubernetes slack. I will be happy to help :)

[2020-11-13 21:45] perezjasonr commented on #92
I think I'm gonna take you up on that offer. if you could get me up on my feet I see no reason I can't pull this off. While I'm not confident in C++ im very confident in helm and k8s.

[2020-11-20 00:12] KeisukeYamashita commented on #23
@Champ-Goblem You need to enable the eBPF for installing Falco into GKE cluster

[code]

[2020-11-21 01:55] KeisukeYamashita commented on #136
This PR(https://github.com/falcosecurity/charts/pull/141) solved it so you should be able to configure the API key with `apiKey` in `>=2.17.0` falcosidekick Helm chart release (cc: @Issif )

[2020-11-21 07:23] poiana commented on #5
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 07:23] poiana commented on #3
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 01:23] poiana commented on #58
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 01:23] poiana commented on #7
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 01:23] poiana commented on #17
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 01:23] poiana commented on #53
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 01:23] poiana commented on #38
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-22 07:23] poiana commented on #67
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-23 10:53] leogr commented on #17
/remove-lifecycle stale

[2020-11-23 10:54] leogr commented on #38
/remove-lifecycle stale

[2020-11-23 10:55] leogr commented on #58
/remove-lifecycle stale

[2020-11-23 11:23] leogr commented on #53
/help

[2020-11-23 11:23] poiana commented on #53
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/chart

[2020-11-23 11:26] leogr commented on #136
I can confirm it has been fixed.
Thank you!
/close

[2020-11-23 11:26] #136 closed

[2020-11-23 11:26] poiana commented on #136
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/136#issuecomment-732101316):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2020-11-24 02:51] aywrite opened #145 "Allow use of existing secrets in sidekick chart"
**Motivation**

We manage our kubernetes deployments using a gitops workflow, in practice this means as much of our config as possible is checked into git. Currently this is difficult with the falco sidekick chart because the secrets for the various notifications backends have to be put in a `values.yaml` file. Although it is possible to encrypt this file etc, it forces a particular workflow rathe

[2020-11-24 10:43] #122 closed

[2020-11-24 11:36] Issif commented on #145
Hi @aywrite, thanks for your issue.

I totally agree, this is a point we need to address for improving security and allow gitOps flows. I'll try to address it asap.

[2020-11-24 11:36] Issif commented on #145
If you feel OK, you can submit a PR too.

[2020-11-24 14:37] leogr commented on #123
Update:
I believe the only missing piece now is the GCloud Security Command Center. So I'm starting to clean up the chart at this point.

[2020-11-24 15:21] leogr opened #147 "[falco-chart] add extra volume mount (for init containers)"
**Motivation**

We already introduced a feature to allow additional init containers :point_down:
https://github.com/falcosecurity/charts/blob/3ca80c71251d92d64348ef6f9b9206ed8bcb829d/falco/values.yaml#L347

An init container would enable the use distinct image for loading the driver, then running Falco. For example, one could:

- use `falcosecurity/falco-driver-loader` as an init container that in

[2020-11-25 13:23] poiana commented on #83
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-26 13:05] leogr opened #150 "[falco-chart] falco-no-driver image by default"
**Motivation**

The `falcosecurity/falco-no-driver` container image ships Falco (statically linked build) without the building toolchain. Using that image has several pros:
- smaller image size
- less volume mount points
- attack surface reduced
- work either in "fully privileged" or "least privileged" (although the latter can have some caveats)

However, the image requires that the driver has alr

[2020-12-02 15:47] cpanato opened #152 "Replace circleci jobs to use github actions and the helm actions orbs"
**Motivation**

Replace the circleci jobs to use the helm Github actions.
With that, we reduce the maintenance of the circleci jobs and just use the Orbs that does everything.

Good of using the GH Actions:
 - it is maintained by helm and for any fix/update we just reuse
 - we don't need to reinvent the wheel
 - don't need to fix/support prow job/circleci jobs

Cons
 - as Leonardo mentioned we fra

[2020-12-03 14:00] leogr opened #156 "CI TODOs"
**Motivation**

Just a reminder for this [comment](https://github.com/falcosecurity/charts/pull/154#issuecomment-737798867) by @cpanato

**Feature**

- [x] add the required GitHub status in prow (see https://github.com/falcosecurity/test-infra/blob/master/config/config.yaml#L82)
- [x] replace the lint to use the CT tool instead of the helm lint, the CT test more things

**Alternatives**

**Additio

[2020-12-03 15:12] cpanato commented on #156
/assign

[2020-12-03 15:30] cpanato commented on #152
In the community call we decided that we will not switch for now, if we change our mind we can reopen this issue.

/close

[2020-12-03 15:30] poiana commented on #152
@cpanato: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/152#issuecomment-738080625):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-12-03 15:30] #152 closed

[2020-12-03 15:52] cpanato commented on #156
for `add the required GitHub status in prow` PR: https://github.com/falcosecurity/test-infra/pull/240

[2020-12-03 16:06] cpanato commented on #156
for ` replace the lint to use the CT tool instead of the helm lint, the CT test more things` : https://github.com/falcosecurity/charts/pull/158

[2020-12-04 07:48] antoinedeschenes commented on #130
See #38

[2020-12-04 15:42] cpanato commented on #156
this is done
/close

[2020-12-04 15:43] poiana commented on #156
@cpanato: You can't close an active issue/PR unless you authored it or you are a collaborator.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/156#issuecomment-738854637):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2020-12-04 18:04] jemag commented on #109
I'm not too knowledgeable with grafana, but I believe the problem is that the dasboard is missing the datasource variable definition in the templating section, i.e. this:
[code]
should not be empty.

In my case, I simply followed the model of some of my other dashboards by using a datasource variable, example:
[code]
and referencing it in the panels with :
[code]
and now it works properly

[2020-12-08 10:15] CyberHippo commented on #138
Hi @leogr, do you have any update on the next Falco release (v0.27.0) ? Thank you

[2020-12-09 10:10] #156 closed

[2020-12-09 10:17] leogr commented on #138
As discussed during our community call, the next Falco release has been rescheduled for January 2020 (likely not before the 10th, but not yet confirmed).

[2020-12-09 11:03] CyberHippo commented on #138
@leogr Great, thank you !

[2020-12-12 08:38] #38 closed

[2020-12-12 15:16] AbirHamzi commented on #123
Hello everyone, is it possible to introduce a readiness probe in falco to check that falcosidekick is available (when enabled ofc ) something like this maybe :
[code]

[2020-12-12 18:47] Issif commented on #123
Hi @AbirHamzi,

For me, it's not the duty of `falco` to check if its backends are up and running. For the moment, `falcosidekick` is the "official" output extender but it may change in future if someone brings a better tool. We should not intricate them.

In kubernetes, `falcosidekick` deployment already has `readiness` and `liveness` probes:

[code]
And when you set in `falco`'s config:

[code]

[2020-12-12 20:45] AbirHamzi commented on #123
@Issif okay if you see so, but just to clarify my point of view, I meant that from falco side if we enable the http output (for falcosidekick or any other server) we may set unreachable url by mistake (I did that :() we can see that in falco logs but I thought it's better to introduce it as readiness probe to save debugging time and we read values from values.yaml like following:

[code]

[2020-12-14 14:31] leogr commented on #123
I understand your point, but I see an issue with doing that. Falco could be restarted if the probe failed, and I don't believe that would be good. However, I still think we have to find a better way to inform the user when an output channel is misconfigured or is not working.
Btw, I had opened https://github.com/falcosecurity/falco/issues/1466 about this topic.

[2020-12-14 17:19] AbirHamzi commented on #123
@leogr yes I see what you mean, one last thing is it possible to keep the readiness probe and we set its `failureThreshold` high enough to avoid falco restarting in case of probe failure

[2020-12-14 18:12] leogr commented on #123
It's hard to assume a default value for that _a priori_, IMHO. I'd rather leave open the ability to configure custom probes so that users may choose on a case-by-case basis.

[2020-12-26 21:35] poiana commented on #5
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-27 03:35] poiana commented on #3
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-29 03:35] poiana commented on #7
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-29 09:35] poiana commented on #67
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-29 13:01] Aurelian-Shuttleworth opened #166 "Document image.pullSecrets input required format in charts/falco/README.md"
**What to document**
The Documentation for `image.pullSecrets`  in `charts/falco/README.md` can it please include a reference to needing the image pull secret in the form of `[{name: <pullsecret>}]` and not `[<pullsecret>]` this will save a bunch of time for someone else in the future.

[2020-12-30 03:35] poiana commented on #53
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-30 09:35] poiana commented on #83
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-01-08 09:47] #109 closed

[2021-01-08 15:36] poiana commented on #119
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-09 15:10] schans opened #169 "Error during compiling ebpf with chart because of missing openssl headers"
**Describe the bug**
When starting the container with BPF_USE_LOCAL_KERNEL_SOURCES for compilation:

* Setting up /usr/src links from host
* Running falco-driver-loader with: driver=bpf, compile=yes, download=yes
* Mounting debugfs
* Found kernel config at /host/boot/config-4.14.198-152.320.amzn2.x86_64
* Using downloaded kernel sources for kernel version 4.14.198...
* Downloading http://mirrors.e

[2021-01-12 16:22] leogr commented on #169
Hi

It startups correctly because the issue seems to be in the "Configuring Kernel" step, then - in the next step -  the compilation works and stores the eBPF probe in `/root/.falco/falco_amazonlinux2_4.14.198-152.320.amzn2.x86_64_1.o`.

However, this issue is not a helm chart problem, so I'm moving this issue to the main repo.

[2021-01-12 21:38] poiana commented on #59
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-14 14:03] #123 closed

[2021-01-18 09:23] leogr commented on #59
This issue does not apply anymore, since those integrations have been removed by #123

[2021-01-18 09:23] #59 closed

[2021-01-18 15:39] poiana commented on #127
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-25 14:56] poiana commented on #124
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-01-26 02:56] poiana commented on #5
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-26 02:56] poiana commented on #5
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/5#issuecomment-767255207):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-01-26 02:56] #5 closed

[2021-01-26 08:56] poiana commented on #3
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-26 08:56] poiana commented on #3
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/3#issuecomment-767399497):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-01-26 08:56] #3 closed

[2021-01-28 08:57] poiana commented on #7
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-28 08:57] poiana commented on #7
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/7#issuecomment-768902700):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](

[2021-01-28 08:57] #7 closed

[2021-01-28 14:57] poiana commented on #67
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-28 14:57] #67 closed

[2021-01-28 14:57] poiana commented on #67
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/67#issuecomment-769141082):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-01-29 14:57] poiana commented on #53
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-29 14:57] poiana commented on #83
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-29 14:57] poiana commented on #53
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/53#issuecomment-769854140):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-01-29 14:57] #83 closed

[2021-01-29 14:57] poiana commented on #83
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/83#issuecomment-769854162):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-01-29 15:00] cpanato commented on #53
/reopen
i will work on that

[2021-01-29 15:00] cpanato commented on #53
/assign

[2021-01-29 15:00] poiana commented on #53
@cpanato: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/53#issuecomment-769855975):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-29 15:00] cpanato commented on #53
/remove-help

[2021-01-30 14:34] cpanato commented on #53
/remove-lifecycle rotten

[2021-02-07 20:59] poiana commented on #119
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-09 19:26] #119 closed

[2021-02-09 19:41] Issif commented on #145
Existing secrets can be used since #163 so I'm closing this issue 👍

[2021-02-09 19:41] #145 closed

[2021-02-12 02:59] poiana commented on #92
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-17 21:01] poiana commented on #127
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-18 03:01] poiana commented on #23
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-18 18:00] #23 closed

[2021-02-19 14:17] mattfarina opened #192 "Icon in falco chart is to 404 page"
**Describe the bug**

The icon in the falco chart points to https://falco.org/images/logos/falco-logo.png. This is now a 404 not found page. It worked back in January but no longer works.

**How to reproduce it**

Go to https://falco.org/images/logos/falco-logo.png and you will see a 404 not found page.

This impacts display in places that show information about the falco chart. Such as https://ar

[2021-02-19 14:56] Issif commented on #192
It's related to the recent refactoring of website cc @fntlnz

[2021-02-21 15:01] poiana commented on #17
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-21 15:01] poiana commented on #58
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-21 16:18] shashwat-sec opened #195 "Falco not able to build driver module"
**Falco not able to load driver module. Getting the below error:**

[code]

**AWS EKS 1.18
   OS Image: Amazon Linux 2
   Kernel version: 4.14.209-160.339.amzn2.x86_64**

- Falco version:
Falco version 0.25.0

[2021-02-22 09:35] #58 closed

[2021-02-22 10:13] leogr commented on #195
You need to update Falco to the latest version since the prebuilt repository has been moved to https://download.falco.org/
Alternatively, if you wanted to stick with Falco 0.25.0 you can manually set the env var `DRIVERS_REPO` to `https://download.falco.org/`

N.B.:
It has been changed since Falco 0.26.2, you can find more detail here :point_down:
https://falco.org/blog/falco-0-26-2/

[2021-02-22 20:10] irivera007 commented on #195
Im seeing similar issue with version 0.27.0, installing using helm, still unable to download the driver
`Info
2021-02-22 13:58:28.231 CST* Trying to download prebuilt module from https://download.falco.org/driver/5c0b863ddade7a45568c0ac97d037422c9efb750/falco_cos_4.14.150%2B_1.ko
Error
2021-02-22 13:58:28.414 CSTMon Feb 22 19:58:28 2021: Loading rules from file /etc/falco/falco_rules.local.yaml:
E

[2021-02-22 20:21] irivera007 commented on #195
What worked for me was to enable ebpf, setting that to true, resolved the download issue, seems like for version .27 we need to enabled that for GKE.

[2021-02-22 21:01] poiana commented on #147
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-23 16:23] leogr commented on #195
Enabling ebpf is always required for GKE: https://falco.org/docs/getting-started/third-party/production/#gke
But, it seems to be not related to the issue reported by @shashwat-sec

[2021-02-24 04:17] shashwat-sec commented on #195
@leogr Installing kernel-devel utilities on the node worked for me.

`yum -y install kernel-devel-$(uname -r)`

[2021-02-24 08:27] leogr commented on #195
:+1:
That works too since by doing so the script is able to compile the driver, and no need of downloading the prebuilt one.

[2021-02-24 12:16] #192 closed

[2021-02-24 15:01] poiana commented on #150
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-02-24 15:01] poiana commented on #124
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-02-26 10:56] #92 closed

[2021-02-26 10:56] #147 closed

[2021-03-04 09:05] poiana commented on #130
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-03-19 00:56] nonamef opened #201 "Add support for pod annotations on falco-exporter daemonset"
**Motivation**
Using Victoria Metrics vmagent and it requires annotations on pods that are scraped.

**Feature**
Add support for additional annotations same as https://github.com/helm/charts/pull/22086/commits/b153279d120a8f652883c14e204e1422a8d97b45.

Just need to add the lines:
#charts/falco-exporter/templates/daemonset.yaml
      {{- if .Values.daemonset.annotations }}
      annotations:

[2021-03-19 08:47] leogr commented on #201
Hi @nonamef

Would you like to open a PR for that?

[2021-03-19 21:43] poiana commented on #127
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-19 21:43] poiana commented on #127
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/127#issuecomment-803150752):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-03-19 21:43] #127 closed

[2021-03-23 16:08] poiana commented on #17
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-03-23 16:59] leogr commented on #17
This issue should be solved by https://github.com/falcosecurity/charts/tree/master/falco#using-an-init-container

[2021-03-23 16:59] #17 closed

[2021-03-26 16:10] poiana commented on #124
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-03-26 16:10] poiana commented on #150
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-03-26 16:10] poiana commented on #124
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/124#issuecomment-808338503):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-03-26 16:10] #124 closed

[2021-03-27 01:02] david-freistrom opened #206 "Helm Template for falco webserver service nodeport issue"
**Describe the bug**

The nodePort variable for the integrated Webserver is used twice with different expected datatypes.
In the values.yml it is expected as a boolean for conditional template part.
But the nodePort itself is used also in the same template to define the nodePort statically expected as an integer.

**How to reproduce it**

Enable Webserver and AuditLogs and set nodePort to true in

[2021-03-29 09:08] leogr commented on #206
Thank you for opening this issue!

A random nodePort is not the expected behavior, IMHO.

NodePort is expected to be an integer (that is evaluated to to `true` in the condition) when an user wants to use it. For example:
[code]
On the other hand, when it is false, it is simply disabled.

However, I'm aware it is poorly documented and can lead to confusion. One solution could be to use another opti

[2021-03-29 15:49] poiana commented on #166
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-04-03 10:14] poiana commented on #130
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-04-14 14:13] serxansherif opened #214 "Integration with the Azure Event Hub"
I want to send logs to the Azure Event Hub. I executed the following command when I installed Falco, I get the below error in the container.

**Command**
_helm install falco falcosecurity/falco \
--set falcosidekick.enabled=true \
--set falcosidekick.webui.enabled=true \
--set falcosidekick.config.azure.subscriptionID="lkjkljj-kjkj-llklk-8c4601adba21" \
--set falcosidekick.config.azure.resourceGro

[2021-04-14 14:21] #214 closed

[2021-04-14 14:22] serxansherif commented on #214
I created in the https://github.com/falcosecurity/falcosidekick/issues

[2021-04-25 16:18] poiana commented on #150
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-04-25 16:18] poiana commented on #150
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/150#issuecomment-826349987):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-04-28 16:20] poiana commented on #166
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-04-30 15:59] poiana commented on #53
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-05-03 10:20] poiana commented on #130
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-05-03 10:20] poiana commented on #130
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/130#issuecomment-831167228):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-05-03 10:20] #130 closed

[2021-05-07 19:43] onedr0p opened #223 "Provide alternate image registry to dockerhub"
**Motivation**

Hello,

In order to combat dockerhub's imposed rate limits it would be great to update the helm charts to default to the ECR registry for the Docker images.

**Additional context**

https://kubernetes.slack.com/archives/CMWH3EH32/p1620308542378000

[2021-05-19 11:05] YYashwanth opened #224 "custom rules don't get evaluated"
Hello,

I am running EKS 1.16 and have installed falco using eks-cloudwatch plugin following this article https://faun.pub/analyze-aws-eks-audit-logs-with-falco-95202167f2e.

I am trying to override the default k8s_audit rules by disabling them
`- rule: K8s Deployment Deleted
      append: true
      condition: and (k8s_audit_never_true)
      source: k8s_audit`

and creating custom rules to handl

[2021-05-19 11:09] YYashwanth commented on #224
@leogr as discussed on the slack channel, here is the issue. Please let me know if you need any further information.

[2021-05-20 16:45] CashWilliams opened #225 "Make Falco Kubernetes support optional"
**Motivation**

In testing metadata alternatives (such as https://github.com/falcosecurity/libs/pull/15), it seems the current chart does not provide an option to disable the Falco Kubernetes support options (-k and -K).

**Feature**

The daemonset template would have an option to disable the Kubernetes support.

[2021-05-25 10:07] poiana commented on #195
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-05-25 12:24] pmalek-sumo opened #230 "falco.rulesFile has a different value in README and in values.yaml"
**Describe the bug**

`falco.rulesFile` has a different value in `README` and in `values.yaml`

**How to reproduce it**

N/A

**Expected behaviour**

`falco.rulesFile` has the same value in `README` and in `values.yaml`

**Screenshots**

N/A

**Environment**

N/A

- Falco version:
falco chart version: `master` (6863f90b50f37d5c793c8a9b4147b7c2e138e1a2 at the time of writing of this issue)

- Syste

[2021-05-28 16:28] poiana commented on #166
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-05-28 16:28] #166 closed

[2021-05-28 16:28] poiana commented on #166
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/166#issuecomment-850533400):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-05-30 10:22] rahulroy1 opened #233 "Pagerduty config in charts not matching with Sidekick commit related to Issue#197"
Hi,
As per Issue#197 (https://github.com/falcosecurity/falcosidekick/issues/197) and related commit https://github.com/falcosecurity/falcosidekick/pull/200/commits,
the latest PagerDuty handler code uses only "RoutingKey", instead of the earlier set of config parameters like `apiKey`, `service` etc.

However, in the values.yaml present in the Helm repo (https://github.com/falcosecurity/charts/tree

[2021-05-31 13:22] nitzango opened #234 "EKS version 1.20.4 Not Supported - Getting "Runtime error: error opening device /host/dev/falco0""
EKS version 1.20.4-eks-6b7464
Latest chart version: 0.28.1

[code]

Might be related to:
https://github.com/falcosecurity/falco/issues/1078

Thanks

[2021-06-01 21:00] johnvandeweghe commented on #234
I'm getting the same on a new cluster I spun up today running v1.18.9-eks-d1db3c

[code]

[2021-06-02 07:53] rams3sh commented on #234
I am facing the same issue with normal local installation using helm in minikube.

Below my output from the terminal :-

[code]

[2021-06-02 20:20] johnvandeweghe commented on #234
https://github.com/falcosecurity/test-infra/pull/416

[2021-06-02 20:44] johnvandeweghe commented on #234
https://github.com/falcosecurity/test-infra/pull/417

[2021-06-02 21:49] pabloopez commented on #234
hi guys,

I get the same error installing with Helm in eks `v1.18.16-eks-7737de`:

`helm repo add falcosecurity https://falcosecurity.github.io/charts
helm repo update
helm install falco \
  --namespace falco \
  --create-namespace \
  --set falcosidekick.enabled=true \
  --set falcosidekick.webui.enabled=true \
  --set falco.jsonOutput=true \
  --set falco.httpOutput.enabled=true \
  --set falco.

[2021-06-03 11:37] aditya-gurjar commented on #234
I'm facing an identical issue using eks 1.18 version and `0.28.1` falco image tag (Attached logs for reference)
[code]

[2021-06-03 16:10] #225 closed

[2021-06-04 12:49] #53 closed

[2021-06-05 18:07] rodriguez-facundo opened #235 "liveness probe error"
Noticed after yesterday's update, our deployment started to fail liveness probe

[code]

I'll fix my end, but dropping the comment here just in case :)

this is the deployment

[code]

[2021-06-06 07:46] cpanato commented on #235
thanks! i will check and make a fix

[2021-06-07 07:32] #235 closed

[2021-06-17 14:03] poiana commented on #201
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-06-18 17:36] tspearconquest commented on #150
/reopen

[2021-06-18 17:36] poiana commented on #150
@tspearconquest: You can't reopen an issue/PR unless you authored it or you are a collaborator.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/150#issuecomment-864184717):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to m

[2021-06-18 17:42] tspearconquest commented on #150
Greetings! Would it be possible to reopen this? This is a useful thing to have and we are setting it up based on the documentation currently at [#using-an-init-container](https://github.com/falcosecurity/charts/blob/master/falco/README.md#using-an-init-container)

Would it be helpful for me to submit a PR to copy this over to the falco.org docs in case this is never implemented?

[2021-06-21 08:47] leogr commented on #150
AFAIK, running [falco-no-driver with falco-driver-loader as init container](https://github.com/falcosecurity/charts/blob/master/falco/README.md#using-falcosecuritydriver-loader-image) should work already.
But, it's the default option.
What's your idea? Would like to have it as default?

[2021-06-21 13:19] tspearconquest commented on #150
Hello,

Actually, what I was saying is that I think that page is less visible by being only on the helm chart repo, and that it would be more visible on falco.org itself, so I am interested in writing a PR to put the same details on falco.org. Would you accept a PR to do so?

That being said/asked, yes, it would be great if this was the default, as it is a smaller deployment when separated and may

[2021-06-21 13:50] leogr commented on #150
The falco.org mostly includes documentation regarding artifacts that are considered official (as per [these definitions](https://github.com/falcosecurity/evolution#adoption-model). Unfortunately, our helm chart is formally still "incubating". For this reason, there's no such documentation regarding the chart on the website.
On the other hand, if you would like to improve the documentation of the c

[2021-06-21 14:36] tspearconquest commented on #150
Great, thank you for considering it.

How does the community get awareness of this effort and provide feedback?

[2021-06-21 15:14] fculpo opened #240 "Add grafana/promtail to trusted_logging_images"
**Motivation**

Using promtail and Loki to gather logs triggers a Clear Log Activities event

**Feature**

Add image repository grafana/promtail to trusted_logging_images

[2021-06-21 15:18] leogr commented on #150
You're welcome!

Slack for sure. Also, the [community calls](https://github.com/falcosecurity/community#falco-community-calls).

[2021-06-24 13:57] poiana commented on #195
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-06-26 12:13] sergeyshaykhullin commented on #234
Getting same error, k3s 1.21.2 + local-path-provisioner

[code]

[2021-06-26 12:16] sergeyshaykhullin commented on #201
Also using victoria metrics

/remove-lifecycle stale

[2021-06-27 13:57] poiana commented on #206
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-07-08 01:33] mkhodave opened #248 "k8s audit rule for GKE cluster"
**How to enable k8s audit rules trigger for GKE cluster**

I would really like to see steps where I can enable k8s audit rule for GKE cluster
I set auditLog.enabled as true but whenever I do any changes in gke cluster , nothing reported at falco
Please guide

[2021-07-12 09:04] sotoiwa commented on #150
Hi. [#using-an-init-container](https://github.com/falcosecurity/charts/blob/master/falco/README.md#using-an-init-container) guides how to load the initialization container driver, but the helm chart has set `privileged: true` in [the security context](https://github.com/falcosecurity/charts/blob/master/falco/templates/daemonset.yaml#L59) of the falco/falco-no-driver container. I want to minimize t

[2021-07-16 21:13] anthony-alessi-acquia opened #250 "Remove strict enforcement of CPU request and limit in values.yaml"
**Motivation**

It has been recommended by AWS EKS support that my organization run Falco without cpu limits. However this is currently not possible as my organization pulls the Falco Helm chart from upstream. When you remove a value from the resources section of the organization-specific values.yaml file, the removed value is replaced with the default value from the upstream chart. For example, w

[2021-07-19 09:12] MarcelMue opened #251 "Falco exporter does not have any requests or limits set"
**Motivation**

Similarly to the falco itself, the exporter should have requests and limits set. Or at the very least allow requests and limits to be set.

**Feature**

The following values should be configurable / added to the falco exporter chart:
`resources.requests.cpu`
`resources.requests.memory`
`resources.limits.cpu`
`resources.limits.memory`

This would match the current configuration of t

[2021-07-19 09:15] cpanato commented on #251
@MarcelMue thanks for this Issue, are you willing to open a PR to add this?

[2021-07-19 09:18] MarcelMue commented on #251
Sure - will hopefully get it done soon. Just wanted to open an issue for it :)

[2021-07-19 09:29] MarcelMue commented on #251
I was actually a bit too fast here:
`resources` are configurable but just not set by default on the exporter
https://github.com/falcosecurity/charts/blob/ee3c579caa5ae3ba30b935f5d74cae734803f09d/falco-exporter/values.yaml#L67-L77

So for me the question now becomes why they are set by default on Falco itself but not the exporter.

[2021-07-20 08:53] hazcod opened #255 "Unable to run on Docker for Mac on Apple M1"
**Describe the bug**

I am unable to run Falco on Docker for Mac, this is an Apple M1 device.

**How to reproduce it**

[code]

**Outcome:**
With eBPF:
[code]

or without:
[code]

[2021-07-20 23:30] sotoiwa commented on #234
If you can make changes to the host, I think you can install kernel headers on the host, and falco-driver-loader will build and install the kernel modules.

[code]

[2021-07-23 09:52] #230 closed

[2021-07-23 19:04] sidewinder12s opened #257 "Expose Annotations on Service Account"
**Motivation**

Support IRSA in EKS

**Feature**

Add annotations to Service Account template/values

**Alternatives**

Forking the chart

**Additional context**

IRSA for EKS requires you to annotate the Service Account with an IAM Role ARN.

[2021-07-26 17:16] travisghansen opened #258 "mount `/usr` as `rw` instead of `ro`"
**Describe the bug**

When trying to build the bpf module I get the following failure:

[code]

**How to reproduce it**

Not entirely sure how much of this is environment specific. I'm running centos7 with elrepo kernels and a fresh install of the kernel -devel and -headers packages. I'm also not sure if it's a 1-time deal (the need to run make in the build dir) or what.

**Expected behaviour**

`

[2021-07-26 17:23] travisghansen opened #259 "allow for specifying custom arguments to falco-driver-loader"
**Motivation**

I have scenarios where clusters do not have outbound internet access. The container sits indefinitely trying to download the file and eventually gets restarted due to liveness/readiness checks. I prefer to bypass the attempt to download the driver altogether and just let it build (ie: force `--compile`).

**Feature**

Perhaps in the entrypoint script do something like this? `/usr/b

[2021-07-27 11:38] phuongnq commented on #234
Do we have a schedule to update the driver link for AWS Linux kernel? In my case
I cannot see the following driver: https://download.falco.org/driver/17f5df52a7d9ed6bb12d3b1768460def8439936d/falco_amazonlinux2_5.4.129-63.229.amzn2.x86_64_1.ko

[code]

[2021-07-29 01:57] anthony-alessi-acquia opened #263 "Invalid suggestion maxSurge found in values.yaml"
**Describe the bug**
There is a comment in the charts/values.yaml file on line 77 stating that maxSurge is an applicable setting for within the updateStrategy field. You cannot use the maxSurge option on a daemonset pod despite what the comment states.

**How to reproduce it**

There is nothing to reproduce for this bug, it is just a small change to a comment. However, if you try to use the maxSur

[2021-07-29 02:11] anthony-alessi-acquia commented on #263
Opened a PR to fix this issue:
https://github.com/falcosecurity/charts/pull/264

[2021-07-30 09:25] leogr commented on #259
I believe that needs to be addressed in Falco first :point_down:
https://github.com/falcosecurity/falco/blob/master/docker/falco/docker-entrypoint.sh#L30

Another alternative might be to use the init container approach :point_down:
https://github.com/falcosecurity/charts/tree/master/falco#using-falcosecuritydriver-loader-image
I have never tried, but it should allow passing any argument to the `fa

[2021-07-30 15:06] travisghansen commented on #259
Yes the timeout should be handled in falco directly.

Thanks for the pointer on the init container. That looks like a viable option so I’ll give it a whirl.

[2021-08-08 20:08] poiana commented on #195
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-08 20:08] poiana commented on #195
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/195#issuecomment-894848659):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-08-08 20:08] #195 closed

[2021-08-08 20:09] poiana commented on #223
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-09 02:09] poiana commented on #206
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-08-12 02:10] poiana commented on #150
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-08-12 02:10] #150 closed

[2021-08-12 02:10] poiana commented on #150
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/150#issuecomment-897292099):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-08-12 22:11] kav commented on #234
Seeing the same 404 on GKE  for https://download.falco.org/driver/17f5df52a7d9ed6bb12d3b1768460def8439936d/falco_cos_5.4.89%2B_1.ko

[2021-08-13 09:13] pnowy commented on #234
For GKE and helm chart what is needed is described here: https://github.com/falcosecurity/charts/tree/master/falco#using-falcosecuritydriver-loader-image-with-ebpf

[2021-08-17 14:42] poiana commented on #224
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-08-19 11:10] jasiam opened #271 "Improve rules from files lifecycle in a live environment"
**Motivation**

Storing rules from yaml files in the same ConfigMap than falco config, implies Helm upgrade always overwrites current rules with the ones from the rules/ folder. This could not be the desired behaviour since someone could delete all falco_rules.local.yaml rules unwittingly very easily, among other unintended rules update.

Am I missing something or is it a common problem?

**Featur

[2021-08-20 10:44] jasiam commented on #271
After doing some tests, I've realized there's no way to make helm not deleting (or not updating) a resource created by it if the referenced template changes between upgrade executions :-(

However, I still think it's a good idea to use a separate configmap for "fabric-rules" (i.e: rules coming from yaml files exclusively). This would make easier to implement a custom rules update strategy for each

[2021-09-05 21:38] Issif commented on #233
Hello,

I forgot this issue for a while, sorry. The configuration has been updated now, the `RoutingKey` value is now available. See: https://github.com/falcosecurity/charts/blob/18b9a6b986f4cb4547ffa79900e351dafbfd695d/falcosidekick/values.yaml#L229

Regards,

[2021-09-05 21:38] #233 closed

[2021-09-08 02:16] poiana commented on #206
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-09-08 02:16] poiana commented on #206
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/206#issuecomment-914833716):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-09-08 14:17] poiana commented on #223
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-09-08 16:59] onedr0p commented on #223
Looks like we are still missing a tagged version on

https://gallery.ecr.aws/falcosecurity/falcosidekick-ui

[2021-09-08 17:00] onedr0p commented on #223
/remove-lifecycle rotten

[2021-09-10 11:21] sboschman opened #273 "[falcosidekick] Upgrade Ingress to networking.k8s.io/v1"
**Describe the bug**

In k8s 1.22 the [currently used](https://github.com/falcosecurity/charts/blob/master/falcosidekick/templates/ingress.yaml#L4) API version for the falcosidekick Ingress resource is [removed](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122). As of k8s 1.22 deploying the chart fails.

[2021-09-10 11:28] Issif commented on #273
This is a fair point, we'll keep both versions with a condition, we need to still allow people to run the ingress for cluster < 1.19.

Thank you for the issue, what ETA do you need for?

[2021-09-10 22:13] philipsparrow opened #275 "ClusterRoleBinding missing for falcosidekick"
**Describe the bug**

When deploying chart `falco` with PSP creation, falcosidekick is missing the ClusterRoleBinding.
As a result, falcosidekick pods cannot be created.

**How to reproduce it**

values.yaml
[code]
[code]

**Expected behaviour**

[code]

**Screenshots**

[code]

[code]

**Environment**

GKE (1.19) with PSPs enabled.

Chart version:
1.15.7
- Installation method:
Helm3

**Additional

[2021-09-13 16:39] #273 closed

[2021-09-14 02:07] sathya0803 opened #276 "K8s audit rules not showing alerts"
Guys I installed falco using helm in my minikube. Falco is perfectly working except for k8s audit rules. I enabled by setting auditLog.enabled=true. I have added my auditpolicy file /etc/ssl/certs/audit-policy.yaml and webhook config in /etc/ssl/certs/audit-webhook-config.yaml. Then I started my minikube with command

### minikube start --extra-config=apiserver.audit-policy-file=/etc/ssl/certs/aud

[2021-09-16 12:32] leogr commented on #276
I have moved this issue to the https://github.com/falcosecurity/charts repository since it seems to be a Helm related issue.

I haven't used minikube recently, so from a quick look, I can't say what's the problem here. But, I will try to give my help if possible.

Anyways, to help you we need a full set of information like the exact helm chart version, the K8s version, and detailed reproducible st

[2021-09-16 20:21] poiana commented on #224
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-09-19 20:54] poiana commented on #240
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-09-24 14:56] poiana commented on #201
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-10-04 16:52] mmonitz opened #280 "falcosidekick httpOutput.url configmap issue"
1. falco and falcosidekick generate service name based on fullname helper template:
https://github.com/falcosecurity/charts/blob/770a308d6203a04de640bce16eadcddc4d2c30fd/falcosidekick/templates/_helpers.tpl#L18-L22
(in most cases .Release.Name-.Chart.Name-falcosidekick)
in some cases when using falco chart as requirement for a master chart and supplying falcosidekick.enabled=true , Chart.Name may

[2021-10-04 16:53] mmonitz commented on #280
This issue is follow up from chat with @Issif https://kubernetes.slack.com/archives/CMWH3EH32/p1633331438498300

[2021-10-05 13:29] Issif commented on #280
This is a use-case I didn't checked before, sorry. I'll figure out how to solve this.

[2021-10-06 07:31] Issif commented on #248
Hello @mkhodave, we managed k8s clusters like GKE, AKS or EKS, the audit are collected by the provider and we can't ask k8s to send them to falco. Since last release of falco (0.30.0), a plugin system for inputs has been integrated (beta): https://github.com/falcosecurity/plugins

We're working to integrate a plugin for EKS and I'm sure other providers will be added soon.

[2021-10-16 20:33] poiana commented on #224
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-10-18 09:07] hazcod commented on #255
/remove-lifecycle stale

[2021-10-20 02:37] poiana commented on #240
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-10-29 19:45] jceresini opened #287 "Send heartbeat messages to outputs"
**Motivation**

We would like to send falco messages from multiple clusters to a SIEM. It would be nice if the SIEM could detect if we stopped receiving logs from a given cluster though (for example, if the cluster has an outbound firewall configured that breaks connectivity). We could configure the SIEM to alert if data isn't seen from a given cluster for a certain period of time, if we could gua

[2021-10-29 19:48] jceresini commented on #287
Sorry, I meant to open this on the falcosidekick repo

[2021-10-29 19:48] #287 closed

[2021-11-01 15:30] devopstales opened #288 "falco create wrong ingress version for falcosidekick"
**Describe the bug**
falco create wrong ingress version for falcosidekick:

[code]

**How to reproduce it**
Install falco from https://falcosecurity.github.io/charts with values:

[code]
**Expected behaviour**
Falco creates ingress with api version `networking.k8s.io/v1`

**Environment**

- Falco version:  0.30.0
- System info:
- OS: almalinux 8
- Kernel: `Linux alma8 4.18.0-305.10.2.el8_4.x86_64

[2021-11-05 08:54] poiana commented on #248
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-11-11 09:19] poiana commented on #234
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-11-14 03:03] poiana commented on #250
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-11-18 15:26] poiana commented on #271
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-11-23 21:10] poiana commented on #201
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-11-23 21:10] poiana commented on #258
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-11-23 21:10] #201 closed

[2021-11-23 21:10] poiana commented on #201
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/201#issuecomment-977171711):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-11-24 17:58] leogr commented on #201
Actually fixed by https://github.com/falcosecurity/charts/pull/289

[2021-11-27 15:14] poiana commented on #259
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-11-30 11:11] frankgu968 commented on #234
Any updates on this? We have deployed on EKS 1.20.4 and it is also throwing the 404 error because it cannot find the built driver modules.

[2021-12-05 09:15] poiana commented on #248
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-05 09:15] #248 closed

[2021-12-05 09:15] poiana commented on #248
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/248#issuecomment-986193586):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-07 06:56] PualCN opened #295 "falco pod the mining pool url every 5 minutes"
run falco from docker don't show this problem.
But run falco from helm, will show this problem,
[code]
values.yaml
[code]
waiting for help, thanks.

[2021-12-07 21:39] poiana commented on #223
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-07 22:40] onedr0p commented on #223
/remove-lifecycle rotten

[2021-12-09 09:57] MagicStarTrace opened #297 "Wait helm template failed. Error: apiVersion 'v2' is not valid. The value must be "v1" : exit status 1"
helm :  https://falcosecurity.github.io/charts

version : 1.16.1

What's the situation?

![image](https://user-images.githubusercontent.com/15685376/145374682-de030b60-6fb4-4817-89cb-c2a52c102394.png)

[2021-12-10 15:41] poiana commented on #275
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-14 03:20] poiana commented on #250
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-14 03:20] #250 closed

[2021-12-14 03:20] poiana commented on #250
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/250#issuecomment-993119926):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-12-15 15:44] poiana commented on #276
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2021-12-23 21:27] poiana commented on #258
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-23 21:27] #258 closed

[2021-12-23 21:27] poiana commented on #258
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/258#issuecomment-1000530693):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-12-27 15:28] poiana commented on #259
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-12-27 15:28] #259 closed

[2021-12-27 15:28] poiana commented on #259
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/259#issuecomment-1001620991):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-12-27 19:33] larssb commented on #288
I used [ytt](https://carvel.dev/ytt) from Carvel. To work around this issue here.

See this example > https://github.com/vmware-tanzu/carvel-ytt/blob/develop/examples/k8s-adjust-rbac-version/fix-rbac.yml

[2021-12-30 15:28] poiana commented on #234
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-07 03:30] poiana commented on #223
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-07 06:19] developer-guy opened #303 "falcosidekick: sign and verify artifacts with keyless approach using cosign"
**Motivation**

To make these artifacts (binaries, container images, checksums) more secure. So, we can use cosign to sign them, after then verifying them to prove that any of these have not been tampered with.

**Feature**

There are different ways of achieving this. But, IMHO, the most elegant and secure way of doing this is a keyless approach which means that we do not even need to store public

[2022-01-07 08:55] Issif commented on #223
/remove-lifecycle rotten

[2022-01-07 09:09] cpanato commented on #303
@developer-guy we are using circleci and afaik they does not offer the oidc token to use :(

[2022-01-07 09:13] Issif commented on #303
Hello, we all agree this is a feature we need to have. @cpanato already worked on the setup, we should have everything ok for next week. This topic is related to falcosidekick itself, not the helm chart, please, create this issue in related repo.

[2022-01-07 10:27] #303 closed

[2022-01-08 22:06] mac-chaffee commented on #280
/remove-lifecycle stale

Still relevant. My revision number for my helm chart is greater than 100 at this point, and I've had to manually edit the configmap to move the extra "-falco" every time. I have a link to this issue in my NOTES.txt to remind me :)

[2022-01-09 21:31] poiana commented on #275
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-10 00:37] Issif commented on #275
/remove-lifecycle rotten

[2022-01-14 21:35] poiana commented on #276
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-01-16 09:58] poiana commented on #255
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-16 10:56] hazcod commented on #255
/remove-lifecycle stale

[2022-01-17 21:38] poiana commented on #271
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-01-17 21:38] poiana commented on #271
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/271#issuecomment-1014904010):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-01-17 21:38] #271 closed

[2022-01-18 10:02] poiana commented on #240
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-01-29 15:43] poiana commented on #234
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-01-29 15:43] poiana commented on #234
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/234#issuecomment-1024934676):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-01-29 15:43] #234 closed

[2022-01-31 08:35] r0binak opened #307 "Update helm values with PolicyReport support"
Helm charts have old helm values, policy report output not install

**How to reproduce it**

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware configuration:
- OS:

- Kernel:

- Installation method:

**Additional context**

[2022-02-10 15:50] PeterThomasAwen opened #311 "eBPF path value not working as expected"
The ebpf path value doesn't appear to be getting applied

[code]

Install Falco with the following yaml file.

`metadata:
  namespace: falco

spec:
  priorityClassName: falco-priority

jsonOutput: true
jsonIncludeOutputProperty: true
httpOutput:
  enabled: true
  url: "http://falcosidekick:2801/"

resources:
   requests:
     cpu: 50m
     memory: 256Mi
   limits:
     cpu: 50m
     memory: 300Mi

[2022-02-11 13:25] #311 closed

[2022-02-13 21:54] poiana commented on #276
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-02-13 21:54] poiana commented on #276
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/276#issuecomment-1038447680):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-02-13 21:54] #276 closed

[2022-02-16 14:02] leogr opened #312 "CircleCI is deprecating machine based on Ubuntu 16/14 images"
**Motivation**

https://circleci.com/blog/ubuntu-14-16-image-deprecation/

**Feature**

Upgrade the only affected job :point_down: to a newer Ubuntu image.
https://github.com/falcosecurity/charts/blob/cc07b87d94dd37dd221f475c985a8809c1d4eaf3/.circleci/config.yml#L21-L23

**Alternatives**

Moving jobs to Prow would be another solution, but CircleCI has been working fine in this repo, so I wouldn't

[2022-02-17 08:09] cpanato commented on #312
I will work on this
/assign

[2022-02-17 09:03] cpanato commented on #312
i think for this repo we can stick with circleci, I would prefer to move to github actions, but this is working very well than lets keep it :)

[2022-02-17 09:07] leogr commented on #312
Btw, switching to GitHub is likely a good idea. I'm no longer against it (since all issues CircleCI has caused on the main repo).
But, unfortunately, I do have not enough cycles to help with that :(

[2022-02-17 09:24] cpanato commented on #312
i can do that if you want @leogr

[2022-02-17 10:03] poiana commented on #240
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-03-09 10:50] poiana commented on #297
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-03-19 11:42] poiana commented on #240
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-03-19 11:42] #240 closed

[2022-03-19 11:42] poiana commented on #240
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/240#issuecomment-1072994568):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-03-27 23:07] poiana commented on #288
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-03-29 14:30] devopstales commented on #288
/remove-lifecycle stale

[2022-04-01 21:16] fandradeg opened #316 "Add an alternative "driverRepo" option, for private/internal driver repos other than drivers.falco.org"
**Motivation**

Motivations for this request:
1) We use this Falco driver in our org, but per Security requirement, we're not allowed to download files from the big evil Internet, and rather this has to be done from an internal (https) repo.
2) We use custom Linux OS that is not used by AWS for EKS, so we need to compile the kernel module anyways.

**Feature**

Add in the daemonset templates, the

[2022-04-05 10:32] eelkonio opened #318 "Missing comma in k8s_audit_rules.yaml"
A comma is missing in the list "allowed_kube_namespace_image_list"

Without the comma, yaml parsing will be incorrect and may combine two items into one.

The comma should be present at line 291 (after "k8s.gcr.io/addon-resizer")

**Environment**

- Falco version:
Falco Helm charts 1.17.4 (latest)
- System info:
irrelevant

[2022-04-07 11:12] poiana commented on #223
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-07 12:23] onedr0p commented on #223
/remove-lifecycle stale

[2022-04-08 11:56] poiana commented on #297
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-04-08 23:12] poiana commented on #280
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-08 23:15] mac-chaffee commented on #280
/remove-lifecycle stale

163 deploys now, one of these days I'll get tired of editing the configmap manually after a `helm upgrade` and fix this, but I'm a little pressed for time at the moment

[2022-04-10 05:12] poiana commented on #275
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-16 11:16] poiana commented on #255
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-04-16 18:47] hazcod commented on #255
/remove-lifecycle stale

[2022-04-22 09:19] #280 closed

[2022-04-28 19:45] Kostavro opened #326 "ingressClassName"
**Motivation**
Ingress annotation `kubernetes.io/ingress.class` is deprecated. `ingressClassName` is not in the templates.
Reference: https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation

**Feature**
I would like to have `ingressClassName` in the ingress templates and values files.

**Alternatives**
-

**Additional context**
I can open a PR to add this, if it is a

[2022-05-01 11:22] poiana commented on #307
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-05-04 08:47] keefbaker opened #327 "Adding Exceptions"
I can't see a way to add exceptions to rules in the chart. Is there a way to do this?

[2022-05-04 09:06] keefbaker commented on #327
I added them by copying the rule from the configmap into the customRules section with an added exception and it worked

[2022-05-06 04:36] Kaizhe commented on #318
@eelkonio do you mind to create a quick fix for this problem ?

[2022-05-08 12:09] poiana commented on #297
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-05-08 12:09] #297 closed

[2022-05-08 12:09] poiana commented on #297
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/297#issuecomment-1120407070):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-05-09 07:10] #318 closed

[2022-05-10 06:10] poiana commented on #275
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-05-17 17:11] Daklon opened #332 "Falco chart NOTES.txt points to the wrong url"
**Describe the bug**

NOTES.txt on falco chart has the following url for falcosidekick chart: https://github.com/falcosecurity/charts/falcosidekick

The problem is that this url is wrongly build and points to nowhere. Github answers with a 404

**How to reproduce it**

Go to https://github.com/falcosecurity/charts/falcosidekick

**Expected behaviour**

Navigate to the master branch, on the falcosi

[2022-05-23 09:24] Issif commented on #332
Hello,

Thanks for these report. I'm working on a new version of the chart for falcosidekick and I'll update the dependency in falco chart after, I'll fix this at this time.

[2022-05-27 13:46] psazonparalect commented on #234
The same problem with eks control plane and nodes versions - v1.22.6-eks.
Tryed to reinstall falco with latest version, but it not help.
`$ k logs falco-z47ls -n falco
* Setting up /usr/src links from host
* Running falco-driver-loader for: falco version=0.31.1, driver version=b7eb0dd65226a8dc254d228c8d950d07bf3521d2
* Running falco-driver-loader with: driver=module, compile=yes, download=yes
* Un

[2022-05-30 09:08] ajinkya1986 opened #336 "Kubernetes Audit Events"
**Motivation**

To enable kubernetes audit events in Cloud Environments

**Feature**

How do we enable kubernetes audit events in Cloud like AWS,Azure and GCP.

[2022-05-30 13:05] #326 closed

[2022-05-31 12:22] Issif commented on #307
The creation of Policy Reports is now available in [Falcosidekick 2.25.0](https://github.com/falcosecurity/falcosidekick/releases/tag/2.25.0), you can follow [this guide](https://github.com/kubernetes-sigs/wg-policy-prototypes/tree/master/policy-report/falco-adapter) to install the CRD for. The Helm chart is up to date to use the latest version of Falcosidekick

[2022-05-31 13:55] Issif commented on #307
It should be ok now, with an `helm upgrade`, I updated the Falco chart yesterday and it has been merged around 9:30pm

[2022-06-01 09:47] PierreBart opened #339 "Simplify driver-loader init container usage for users"
**Motivation**

I am using your Helm chart with the driver-loader init container. I would have preferred to have the init container part of the template with most of the attributes already set instead of filling the extraInitContainers with the required values, i.e:
[code]

That way I would not have to worry about the volumes mounts or other changes for the forthcoming chart releases.

**Feature**

[2022-06-03 08:59] leogr commented on #339
/milestone falco-chart-2.0.0

[2022-06-03 09:00] leogr commented on #332
Fixed by #333, so I'm closing this. Thank you @Daklon
/close

[2022-06-03 09:00] #332 closed

[2022-06-03 09:00] poiana commented on #332
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/332#issuecomment-1145753473):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2022-06-03 09:08] leogr commented on #316
Hey @fandradeg

First of all, sorry for the late reply. I missed this issue :(

If I understood correctly, the feature you are asking for is already implemented. The `falco-driver-loader` script supports the `DRIVER_REPO` env var (you can pass it via Helm values) to configure a custom driver repo base URL.

See here :point_down: under the "Configurable options" part
https://falco.org/docs/getting-

[2022-06-03 09:09] leogr commented on #307
Has this been fixed already?

@Issif @r0binak

[2022-06-03 09:10] r0binak commented on #307
yes

[2022-06-03 09:10] #307 closed

[2022-06-03 09:11] leogr commented on #223
@falcosecurity/charts-maintainers any thoughts on this?

[2022-06-03 09:12] cpanato commented on #223
we can push to ghcr as well

[2022-06-03 09:22] leogr commented on #223
We are already pushing all images to https://gallery.ecr.aws/falcosecurity
(basically, we are  _de facto_ supporting ECR, since the CI in Falco takes care of that).

[2022-06-03 11:40] onedr0p commented on #223
Looks like we are still missing a tagged version on

https://gallery.ecr.aws/falcosecurity/falcosidekick-ui

There's only latest

[2022-06-03 12:18] Issif commented on #223
You're right, I'll fix it asap

[2022-06-05 12:41] Issif commented on #336
Hello,

Few months ago, we introduced the [plugins](https://github.com/falcosecurity/plugins) to extend the number of inputs for Falco. We already prepared a plugin to replace the current implementation for audit logs and the plugins for managed k8s will follow in next weeks.

[2022-06-07 13:44] dadav opened #343 "Undefined macro X used in filter"
**Describe the bug**

I'm trying to use the following **customRules**:

[code]

but the pods are crashing with the following error:

[code]

BUT the macro `openshift_image` is a default macro and therefore I expected it to be usable in this scope.

 **How to reproduce it**

Use a default macro in a condition field via the **customRules** parameter.

**Expected behaviour**

I expect the default mac

[2022-06-07 15:13] dadav commented on #343
Not sure if it's better to open this issue in the falco repo. Found the exact same issue here: https://github.com/falcosecurity/falco/issues/706

[2022-06-07 15:35] leogr commented on #343
Hey @dadav

I can't remember by heart, but this issue should be addressed by 0.32.0.
The chart has been updated a couple of hours ago to support 0.32.0. Could you give it a try?

[2022-06-07 16:08] dadav commented on #343
Ok, I'll try the latest version^^ Thx for your fast response!!

[2022-06-07 16:10] dadav commented on #343
It's working!!! Love you guys, thx :)

[2022-06-07 16:10] #343 closed

[2022-06-09 06:20] poiana commented on #275
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/275#issuecomment-1150717571):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-06-09 06:20] #275 closed

[2022-06-09 14:20] SanaZulfiqar73 opened #348 "Elasticsearch integration logs for falcosidekick"
Hi,

I integrated Elasticsearch as a sidekick. The configuration is like that:

[code]
 How can I verify if it is integrated successfully?

I don't see anything in the logs. Not even any error related to that. And, I can't see new index created in Elasticsearch as well.

[2022-06-09 14:53] Issif commented on #348
Hello,

First, you can take a look on Falcosidekick pods logs. You should have a line with `[INFO]  : Enabled Outputs : [Elasticsearch]`.
Falcosidekick provides a test endpoint, create a port forward to the service above the pods and try `curl -XPOST http://localhost:2802/test` (adapt to your installation).

[2022-06-10 21:37] srinijalagam commented on #336
Hi , I am working with falco-1.19.0, once I have enabled k8saudit plugin , i see below error and i do not see this plugin is available with version mentioned in drivers folder. can someone upload file

`[SUCCESS] Cleaning phase correctly terminated.

================ Cleaning phase ================

* Looking for a falco module locally (kernel 4.18.0-1.2007201736.el7_7.emrs.altmvl.x86_64)
* Trying

[2022-06-11 06:37] kstavropoulos-fl commented on #327
@keefbaker can you please show an example of what you did?

[2022-06-11 08:31] keefbaker commented on #327
Unfortunately I don't have access to that code any more as I've left that organization. But you examine the config file in the config map, add that rule verbatim into the customRules in the helm chart under exceptions.yaml (see the example about 2 thirds down here https://github.com/falcosecurity/charts/blob/master/falco/README.md) and put the exceptions in the format described here https://falco.

[2022-06-11 08:32] keefbaker commented on #327
Pretty sure the configmap is just called falco.

[2022-06-11 09:00] kstavropoulos-fl commented on #327
Thanks :) I managed to make it work after -of course- reading the docs more, and attempting a few stupid things...
For the record, here is what I have (my use-case is excluding an alert for `writing under /etc` that is triggered by datadog-agent):
[code]

[2022-06-13 19:36] eric-engberg commented on #336
I'm getting the following error when I try to enable auditlog

`2022-06-13T19:32:30.575962573Z
* Setting up /usr/src links from host
* Running falco-driver-loader for: falco version=0.32.0, driver version=39ae7d40496793cf3d3e7890c9bbdc202263836b
* Running falco-driver-loader with: driver=bpf, compile=yes, download=yes
* Mounting debugfs
* Trying to download a prebuilt eBPF probe from https://downl

[2022-06-14 08:40] SanaZulfiqar73 commented on #348
Hey, I was trying to Add Elasticsearch and OpsGenie support through Falco Helm Chart by enabling falcosidekick. These features are not able to deployed from falco chart only webUI can be enabled. I don't know if this is the expected behaviour.

[2022-06-14 08:44] SanaZulfiqar73 commented on #348
As per your comment above when I try the test endpoint, I can see the test index being created in the Elasticsearch. It is my understanding that falco will create the index in Elasticsearch daily as per the "Suffix" value in the configuration. But I can't see it is creating the index with logs in the Elasticsearch.
Is there anything I am missing to add to make falco send logs per index daily?

[2022-06-14 10:23] Issif commented on #348
As Falcosidekick chart is a dependency for the Falco chart, you can set all settings by prefixing them with `falcosidekick.` , it's explained in the [README](https://github.com/falcosecurity/charts/tree/master/falco#deploy-falcosidekick-with-falco).

Basically, to install Falco + Falcosidekick + Elasticsearch you just have to run something like:
[code]

If you install Falco and Falcosidekick with

[2022-06-14 12:28] SanaZulfiqar73 commented on #348
Thank you for the response. I am able to deploy Falco + Falcosidekick + Elasticsearch now. I was missing adding "config" in my values.yaml file.

[2022-06-14 12:28] #348 closed

[2022-06-14 13:26] SanaZulfiqar73 opened #350 "Audit logs for GKE"
Currently, I am working on adding Falco on our GKE cluster. I am trying to enable k8 audit logs support in Falco. I am adding this like this:
values.yaml

[code]

When I reply this, Falco gives an error
`Error: listen tcp 10.20.234.48:9765: bind: cannot assign requested address`

I am confused what to add in "open_params:" for k8saudit plugin?
Furthermore, Falco also start internal web server for

[2022-06-14 14:46] Issif commented on #350
Hello,

AuditLog are catched by GCP to fill logs in Stackdriver. The method you're trying to use works only when you manage yourself the control plane. In last releases of Falco, we introduced a plugin framework, and the k8saudit source as been migrated to a plugin, we're expecting to have others for all major managed K8s soon. You can take a look [here](https://github.com/falcosecurity/plugins) a

[2022-06-14 15:14] SanaZulfiqar73 commented on #336
@eric-engberg Can you add your configurations (i.e. values.yaml) when you enable audit logs?

[2022-06-27 18:32] poiana commented on #288
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-06-28 14:05] MueChr commented on #336
@eric-engberg I run in the same issue. The problem was solved, after I enabled the json plugin too.

[2022-06-29 17:42] devopstales commented on #288
/remove-lifecycle stale

[2022-07-06 09:11] inductor opened #361 "Least privilege not working with AWS Bottlerocket OS"
**Describe the bug**

[code]

**How to reproduce it**

Enable least privilege on Helm chart using AWS EKS bottlerocket

**Expected behaviour**

**Screenshots**

**Environment**

- Falco version: 0.32.0

- System info:

- Cloud provider or hardware configuration: AWS EKS
- OS: Bottlerocket 1.8.0

- Kernel: 5.10.118

- Installation method:

**Additional context**

[2022-07-15 21:37] poiana commented on #255
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-07-19 10:39] SanaZulfiqar73 opened #371 "ElasticSearch giving unknown missing header error"
**Describe the bug**

I am configuring OpenSearch as a falcosidekick to send the falco logs. Sometimes it starts giving the unknown error

[code]

**How to reproduce it**

enable ElasticSearch in Falcosidekick with values:
[code]

**Expected behaviour**

Elasticsearch should be able to create and add data successfully in the index.
Error should be clear where is the problem.

**Environment**

- Fa

[2022-07-19 12:29] Issif commented on #371
Hi,

Can you tell us which version of OpenSearch you're using please, I'll try to reproduce the bug directly with Falcosidekick, to check if the issue is a bug at its level or in the Helm chart. Thanks.

[2022-07-20 08:58] SanaZulfiqar73 commented on #371
Hey, thanks for taking a look. I am using falco: v0.32.0 and falcosidekick: v2.26.0.
Sometimes, it works and sometimes it gives the error as you see here:
[code]
Right before the Opensearch, in ingress I see logs look like that:
`elastic [19/Jul/2022:10:25:16 +0000] "POST /falco-2022.07.19/event HTTP/1.1" 400 150 "-" "Falcosidekick" "-" 1658226316.166 0.096 - - -`

[2022-07-20 10:08] Issif commented on #371
I was able to reproduce the issue with my [fake events generator](https://gist.github.com/Issif/8236641b072d4ef409a3ceac899fb02c).

Here's the full error message:
[code]

We have both a conflict with the mapping, as it's really hard to define a generic mapping, I chose to let Elasticsearch/Opensearch auto-detect it, and that leads to that kind of situation. I don't have a solution for now, except

[2022-07-20 12:26] Issif commented on #288
Hi,

This issue should be fixed now, see [](https://github.com/falcosecurity/charts/blob/8898864304266162bfde96876741518eb7220c88/falcosidekick/templates/_helpers.tpl#L35)

[2022-07-20 12:26] #288 closed

[2022-07-25 08:23] PhilipSchmid opened #375 "Add ingress support in the Falco chart"
**Motivation**

Some Falco plugins require that Falco is reachable from outside the cluster (e.g. K8s audit).
Currently, the Falco chart only supports automatic service creation - ingress creation not. In the mentioned example in the `values.yaml` it's a [`NodePort` service](https://github.com/falcosecurity/charts/blob/master/falco/values.yaml#L142-L151) which is used for making Falco externally r

[2022-07-25 15:41] enmuro opened #376 "Falco helm chart priorityClassName value"
**Describe the bug**

When configuring priorityClassName on Falco helm chart there's a divergence between values.yaml name and templates/pod-template.yaml.

[In values.yaml](https://github.com/falcosecurity/charts/blob/falco-2.0.4/falco/values.yaml#L44)
podPriorityClassName:

[In templates/pod-template.tpl](https://github.com/falcosecurity/charts/blob/falco-2.0.4/falco/templates/pod-template.tpl#L

[2022-07-26 06:09] alacuku commented on #376
Hi @enmuro, thanks for spotting it! Are you willing to open a PR and fix it? It would be a nice contribution from your side! Let me know what do you think and if you need any help!

[2022-07-26 07:20] PhilipSchmid opened #377 "Deployment Falco Pods may not need to be run as root (e.g. in the K8s audit plugin usecase)"
**Motivation**

With the introduction of the new Falco plugin system and the new 2.X Helm charts, it's not always really required to run the Falco pod as root. Nevertheless, Falco still does this which could often violate security policies (PSP, OPA, etc.).

**Feature**

I think it would make sense to introduce a flag which allows one to configure (or simply override?) the used service user from r

[2022-07-27 10:55] #376 closed

[2022-08-02 09:18] xi2817-aajgaonkar opened #387 "Falco Installation with certificates"
**Describe the bug**
Getting bug while installation. I was following this guide https://falco.org/blog/falco-kind-prometheus-grafana/#install-falco and it gave me following error
[code]

**How to reproduce it**
[code]

**Expected behaviour**

**Screenshots**

![image](https://user-images.githubusercontent.com/88836921/182339747-15fab758-cdfc-4fdf-9bbd-1a8e98bf13c2.png)

**Environment**

- Falco ve

[2022-08-02 09:23] arthurk commented on #361
I've updated to chart v2 and see the same error. Chart v1 worked fine but now the `falco-driver-loader` shows:

[code]

[2022-08-03 06:46] alacuku commented on #361
Hi @arthurk, does it work adding the `securityContext` to the init container?

[2022-08-03 07:29] alacuku commented on #387
Hi @xi2817-aajgaonkar, thank you for reporting the issue.
I took a quick look and it seems that the problem is here: https://github.com/falcosecurity/charts/blob/c3ea76f4a1556c699fa421116d225cf73f93e907/falco/templates/certs-secret.yaml#L1-L2
We are changing the `scope` using the `with` keyword causing the subsequent `falco.fullname` helper to fail.
Hopefully today I will open PR with the fix.

[2022-08-05 21:19] cnorling opened #390 "out-of-box helm install failing to pull or build Falco module"
**Describe the bug**
When I install Falco with factory defaults, it fails to retrieve the remote prebuilt module and also fails to build it from source. I've tried this in a vanilla AWS, GCP, and KIND cluster. I also tried falco versions `1.19.4` and `2.0.9`

**How to reproduce it**
register the helm repo
run `helm install falco falcosecurity/falco --namespace falco --create-namespace`

**Expected

[2022-08-10 15:19] adnankobir opened #397 "ca-certificates issue"
**Describe the bug**

It appears that the default docker image `falcosecurity/falco-no-driver` has issues with ca-certificates.

[code]

**How to reproduce it**

1. Ensure that IRSA is enabled, ie using `AWS_WEB_IDENTITY_TOKEN_FILE` - this causes the aws sdk to make a call to https://sts.amazonaws.com

2. Enable Cloudtrail plugin in values file and set an s3:// path in `open_params`

**Expected be

[2022-08-11 20:32] mlgualtieri opened #399 "GKE error installing with ebpf.enabled=true using helm charts 2.0.0+"
**Describe the bug**

Installing falco into a GKE cluster using the provided helm charts, version 2.0.0 or greater produces an error installing the eBPF driver.  Helm chart version 1.19.4 works as expected.  It appears based on the logs that the 2.0 charts don't detect the eBPF option and tries to instead build the kernel module.

**How to reproduce it**

- Set up a GKE cluster
- Run the following

[2022-08-11 21:20] alacuku commented on #399
Hi @mlgualtieri,
starting from chart 2.0.0 the ebpf probe can be enabled by setting the driver mode to ebpf: `driver.kind=ebpf`. The new chart has been heavily refactored and some configuration variables in `values.yaml` file have been moved around or renamed. Please have a look at the new `values.yaml` file: https://github.com/falcosecurity/charts/blob/master/falco/values.yaml.

[2022-08-11 21:52] mlgualtieri commented on #399
Thank you, that did the trick!  I was following the old documentation for the installation process.  Installation worked after pulling down the values.yaml from the latest release, and changing the drivers section to be:
[code]
[code]

[2022-08-11 21:52] #399 closed

[2022-08-12 13:55] Diliz commented on #390
+1 Having the same issue with module building on openshift 4.10 :/

## Issue
[code]

## Environment

Openshift 4.10

Falco version: 0.32.2
System info: rhcos_4.18.0 or rhel_4.18.0
Kernel: 4.18
Installation method: compile with falco-driver-loader init container

[2022-08-14 21:43] poiana commented on #255
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-08-17 09:38] lamenawuer commented on #390
+1, I'm having the exact same issue as above

[2022-08-17 15:11] alacuku commented on #390
The logs show that the [falco-driver-loader](https://github.com/falcosecurity/falco/blob/master/scripts/falco-driver-loader) does not find a pre-build kernel module for the local kernel version. It tries to build the kernel module but fails. Are the kernel headers installed in the system? Without the kernel headers, the script can not compile the kernel module.

[2022-08-18 08:27] leogr commented on #375
Hey @PhilipSchmid

I apologize for the very late reply, but I lost track of this issue. Sorry.

Although I understand the need, I'm not totally convinced that ingress creation should be a chart's responsibility.
In our original intent, one should be able to configure the ClusterIP in the chart and map to an Ingress created by other means.
In this way, we would allow a wide degree of freedom, consi

[2022-08-19 15:06] Diliz commented on #390
On openshift: add machine configs to add kernel-devel on your nodes, then the module compilation should work

[2022-08-19 15:15] Diliz opened #400 "Falco starts but nothing happens"
**Describe the bug**

I managed to run falco on openshift (not so easy if you try to push it with a least privileged argo instance xD), the problem is it seems stuck at launch, maybe I failed something somewhere, but I got no real state of what's going wrong there :/

**How to reproduce it**

Installed latest falco on openshift with the latest falco helm chart, here the falco values:
[code]

And h

[2022-08-20 13:32] PhilipSchmid commented on #375
Hi Leo,

Thanks for your valuable input. You are right. The maintenance of an ingress template could get quite tricky, as it needs to be very flexible regarding its configurations. Let's wait a bit and see, what others would think about that, and if there isn't a larger consent that it would be nice to have that, we simply close this issue with "won't fix/implement".

Regards,
Philip

[2022-08-22 07:06] Diliz commented on #400
Moved issue to https://github.com/falcosecurity/falco/issues/2172
Should be in falco repository, sorry for the bother :)

[2022-08-22 07:06] #400 closed

[2022-08-23 15:17] leogr commented on #397
cc @alacuku

[2022-08-23 15:21] leogr commented on #377
It looks like a good idea, but it may have some side effects (which I don't recall by heart).

@falcosecurity/deploy-kubernetes-maintainers and @falcosecurity/charts-maintainers wdyt?
also cc @alacuku

[2022-08-23 15:24] leogr commented on #255
cc @alacuku @Andreagit97 @FedeDP
/remove-lifecycle rotten

[2022-08-23 15:25] leogr commented on #255
This is not actually supported (so not technically a bug)
/kind feature

[2022-08-24 15:17] zuc commented on #377
I like the idea and I can't remember of any other use case (apart from syscalls) where `root` is required, so +1 from me

[2022-08-24 17:20] maxgio92 commented on #377
Looks a good idea to me too.
Moreover, what about enabling also to select specific capabilities, still avoiding uid 0?

[2022-08-30 06:29] alacuku commented on #377
We can write a helper that is evaluated when the syscall event source is disabled. Users can still overwrite the default behavior by setting the `podSecurityContext`.

[2022-09-01 09:45] poiana commented on #316
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-09 10:48] praveenjindal62 opened #402 "Ability to specify arguments for falcosidekick via helm charts"
**Motivation**

Falcosidekick offers multiple options like below which can be provided as arguments to executable. These options cannot be used by official falcosidekick [helm ](https://github.com/falcosecurity/charts/tree/master/falcosidekick) charts. I specifically wanted to use option `-t` to configure `TTL` for keys stored in redis but official helm charts are not allowing me to do so.

[code]

[2022-09-09 10:53] Issif commented on #402
FYI the TTL feature is in master branch but not yet released. When it will be available I'll update the helm for allowing extra args as requested.

[2022-09-09 11:08] praveenjindal62 commented on #402
Thanks @Issif

[2022-09-12 15:47] poiana commented on #350
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-13 11:10] leogr opened #404 "[tracking] The default unix socket path is changing from `/var/run/falco.sock` to `/run/falco/falco.sock`"
**Motivation**

See
- https://github.com/falcosecurity/falco/pull/2163#discussion_r951137271
- https://github.com/falcosecurity/falco/pull/2189
- https://github.com/falcosecurity/falco-exporter/issues/74

**Feature**

Ensure charts will work properly after this change.

**Alternatives**

**Additional context**

[2022-09-20 16:12] e-minguez opened #406 "Add support for ARM for falcosidekick-ui chart"
**Motivation**

As Falco supports ARM, I guess it would be nice for sidekick-ui to support ARM as well, and that includes the Redis dependency

**Feature**

Support ARM CPUs

**Alternatives**

Use sidekick with no UI

**Additional context**

[2022-09-20 16:12] e-minguez commented on #406
Related to https://github.com/falcosecurity/falcosidekick-ui/issues/66

[2022-09-21 12:03] e-minguez commented on #406
Related to https://github.com/RediSearch/RediSearch/issues/3110

[2022-09-21 12:35] Issif commented on #406
I agree it could be nice, for falcosidekick-ui itself, it's not an issue and we can add ARM support. For redisearch, they don't provide an ARM image and you must know, I had to fork it to add TTL to keys, my PR to add it in the upstream is still waiting https://github.com/RediSearch/redisearch-go/pull/167

[2022-09-22 10:13] xavidop opened #407 "Missing Falco driver for EKS machines"
Falco not able to load driver module. Getting the below error:

[code]

AWS EKS 1.23
OS Image: Amazon Linux 2
Kernel version: 5.4.209-116.367.amzn2.x86_64_1

Falco Loader: version: 0.32.2
Falco version: 0.32.2

[2022-09-22 11:37] jlknoch commented on #407
Same problem here

[2022-09-23 10:40] sawanverma commented on #407
I have same issue in for all the same version mentioned above. When can we get the fix?

[2022-09-26 15:48] poiana commented on #336
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-09-28 10:44] alacuku commented on #407
Hi @xavidop, as you can see here, https://falcosecurity.github.io/kernel-crawler/?arch=x86_64&target=AmazonLinux2&search=5.4.38-17.76.amzn2.x86_64,  the `kernel-crawler` has found the kernel and it has been built. The kernel module can be downloaded using the following link: https://download.falco.org/driver/2.0.0%2Bdriver/x86_64/falco_amazonlinux2_5.4.209-116.367.amzn2.x86_64_1.ko.
Sometimes it c

[2022-09-28 10:47] xavidop commented on #407
I just checked and its working! thank you very much! Good to know that you have that kernel-crawler running!

[2022-09-28 10:52] alacuku commented on #407
Great!
Can we please close this issue then?

[2022-09-28 11:00] xavidop commented on #407
YES! thank you very much!

[2022-09-28 12:17] #407 closed

[2022-09-28 21:48] lucascioffi-mb opened #408 "Helm chart fails to run on GKE - CrashLoopBackoff"
**Describe the bug**

Installing the Helm chart on a cluster on GKE doesn't work. The Falco pods go on CrashLoopBackoff (but sidekick still works).

**How to reproduce it**

Falco was installed using the following command:
`helm install falco falcosecurity/falco --set ebpf.enabled=true --set falcosidekick.enabled=true --set falcosidekick.webui.enabled=true --namespace=falco --create-namespace`

**

[2022-10-01 09:48] poiana commented on #316
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-10-03 07:41] alacuku commented on #408
Hi @lucascioffi-mb, starting from [version `2.0.0`](https://github.com/falcosecurity/charts/blob/master/falco/CHANGELOG.md#v200) of the helm chart the driver version is set as shown in the README: https://github.com/falcosecurity/charts/tree/master/falco#daemonset. In your case the adapted helm install command is:
[code]
Let me know if it works!

[2022-10-03 18:45] lucascioffi-mb commented on #408
Hi @alacuku!!!
It worked, thanks a ton.

May i suggest updating the documentation here to reflect this change?
https://falco.org/docs/getting-started/third-party/production/#gke

[2022-10-03 18:45] #408 closed

[2022-10-12 15:52] poiana commented on #350
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-10-18 15:53] poiana commented on #223
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-10-18 15:53] poiana commented on #371
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-10-19 07:46] leogr opened #410 "Improve k8saudit documentation for the Falco Chart"
**What to document**

See https://github.com/falcosecurity/falco/issues/2172#issuecomment-1249101560

/help

cc @alacuku

[2022-10-19 07:46] poiana commented on #410
@leogr:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/chart

[2022-10-20 16:50] #404 closed

[2022-10-24 15:22] rubensf opened #414 "Add `extra.envFrom` option to falco chart"
**Motivation**

While we already have [`extra.env`](https://github.com/falcosecurity/charts/blob/falco-2.2.0/falco/templates/pod-template.tpl#L99-L102), it's impossible to use references in those environments (eg `metadata.namespace`).

**Alternatives**

So far, I've had to do a `patchStrategicMerge`:

[code]
**Additional context**

[2022-10-25 07:39] ArgTang opened #415 "[falcosidekick-ui] able to configure redis ttl"
**Motivation**

Current falco ui chart deployment will fill up redis instance diskspace because TTL option is not exposed in chart

**Feature**

a way to set TTL option for the sidekickui deployment.

**Alternatives**

1. add a specific values.yaml prop to set the TTL value, 0 as default
2. add a generic way to set env variables to the deployment

[2022-10-25 11:47] juris commented on #361
Worked for me with this config:
[code]

[2022-10-26 15:56] poiana commented on #336
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-10-27 08:32] alacuku opened #418 "[driver-loader]: simplifying the logic behind the driver-loader"
**Motivation**
The `driver-loader` is an init-container that is deployed by default when a driver (module/ebpf) is used. Users can override the default configuration and disable the `driver-loader`. There are two config variables used to disable the driver loader:
https://github.com/falcosecurity/charts/blob/06225b85abae5beb77e1a11cf0d393a8b1bb8ce8/falco/values.yaml#L188-L193
The two variables are

[2022-10-27 08:37] Andreagit97 commented on #418
Completely agree with that, having 2 flags is really confusing IMHO

[2022-10-27 10:23] alacuku opened #419 "[falco/image]: falco errors when using "falcosecurity/falco" image"
**Describe the bug**
The `falcosecurity` organizaton provides two different image flavours for Falco:
* falcosecurity/falco-driver-loader
* falcosecurity/falco
For more info: https://falco.org/docs/getting-started/download/#images.

Starting from version `2.0.0` of the charts the `falcosecurity/falco-no-driver` is the default image. As far as I know, we are still supporting the `falcosecurity/falc

[2022-10-27 10:25] alacuku commented on #419
I think that we should use always the approach with init-container with the helm charts and deprecate the usage of the `falcosecurity/falco` image. It would make it easy to simplify the init-container logic as described in: #418.

[2022-10-29 19:23] Issif commented on #415
The version of falcosidekick-ui which allows to manage the TTL for the keys is not yet released, this is why the helm chart doesn't expose the setting.

[2022-10-31 10:50] hasakura12 opened #420 "Falco crashLoopBack due to "Unable to find a prebuilt falco module" error"
**Describe the bug**

[code]

**How to reproduce it**

**Expected behaviour**

Should be running

**Screenshots**

**Environment**

- Falco version:

- System info:

- Cloud provider or hardware configuration:
- OS:

- Kernel:

- Installation method:

**Additional context**

[2022-10-31 11:17] alacuku commented on #420
Hi @hasakura12, the chart is deploying Falco `0.31.1`, is that intentional? If yes unfortunately the pre-built modules are not available for your kernel. You should install the kernel headers on the machines where you are installing Falco and the Falco pod will try to build the kernel module for you.

[2022-10-31 11:18] alacuku commented on #420
Anyway you can check here if the prebuilt module exists for your kernel: https://download.falco.org/driver/site/index.html?lib=3.0.1%2Bdriver&target=amazonlinux2&arch=x86_64&kind=kmod

[2022-10-31 11:58] hasakura12 commented on #420
@alacuku

Not intentional. I just want to deploy Falco tbh, and I did it a few months ago and it was working until a few weeks back.

Do you suggest other working version instead?

[2022-10-31 13:36] alacuku commented on #420
Unfortunately, the pre-built module for amazonlinux2_5.4.214-120.368 is not available yet. You should install the kernel header in order to get falco to work. Otherwise, you can wait until the [kernel-crawler](https://github.com/falcosecurity/kernel-crawler) finds the new kernel and our [test-infra](https://github.com/falcosecurity/test-infra) builds it.

[2022-10-31 15:26] #316 closed

[2022-10-31 15:27] poiana commented on #316
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/316#issuecomment-1297260874):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-11-02 08:24] alacuku commented on #414
Hey @rubensf, thanks for the suggestion we definitely need it!

[2022-11-02 14:47] tra0x opened #422 "Support setting namespace metadata in values for falco"
**Feature**

Allow setting release namespace in `values.yaml` for falco. Solution must respect cli flags and not break existing implementations.

If there is support for this, I will happily open a PR and follow the contribution guidelines.

**Motivation**

Allow for declarative deployment practices to be followed with namespace metadata. Explicitly setting metadata in values or manifests should a

[2022-11-03 08:28] alacuku commented on #422
Hi @tra0x, could you provide a use case for why you need this?

[2022-11-03 14:39] alacuku commented on #419
@leogr

[2022-11-03 14:39] alacuku commented on #418
cc @leogr

[2022-11-03 14:50] tra0x commented on #422
Use case is being able to completely define falco's deployment using its `values.yaml`. Ideally everything about a release is explicitly set there.

Contrasted with the current process, namespace is the only bit of configuration that must be stored somewhere else. Thus deploying requires `helm install falco falcosecurity/falco --values falco/values.yaml --namespace [some-other-source]`. Config bei

[2022-11-04 08:07] alacuku commented on #422
Thanks for the explanation, it's ok for me! I will happily review your PR if you are willing to contribute!

[2022-11-12 03:29] poiana commented on #350
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-11-12 03:29] #350 closed

[2022-11-12 03:29] poiana commented on #350
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/350#issuecomment-1312343964):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-11-14 08:46] #422 closed

[2022-11-17 15:29] poiana commented on #390
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-17 21:29] poiana commented on #223
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-11-17 21:29] poiana commented on #371
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-11-18 15:29] poiana commented on #375
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-18 15:40] JuanPabloSGU opened #425 "[falco/falco-exporter] Add Drop All Capabilities by Default"
**Motivation**

Currently it seems that the security context in falco-exporter is commented it out.

[code]

I would like to see them be used by default especially the drop all capabilities if possible or be given an explanation of why they are currently disabled.

**Feature**

The solution would be to have drop all capabilities be used in the security context as it would improve the security post

[2022-11-21 15:30] poiana commented on #397
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-21 15:30] poiana commented on #387
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-21 15:30] poiana commented on #255
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-21 15:32] hazcod commented on #255
/remove-lifecycle stale.

[2022-11-22 12:44] alacuku commented on #255
Hi @hazcod, could you please provide the necessary steps on how to reproduce this issue?

[2022-11-22 12:53] hazcod commented on #255
@alacuku Well I did mention the exact commands, no?

[2022-11-22 13:22] alacuku commented on #255
@hazcod, it would be nice to have more info on your environment. `Docker for Mac`, does not say much to me since I have never used it. More info on the environment, such as the  `Docker for Mac` version, the kernel version, and the kernel flavor could be really helpful. Thanks!

[2022-11-22 14:24] hazcod commented on #255
Docker for Mac 4.14.1 (91661) on Apple Silicon results in kernel: :
[code]

[2022-11-23 11:12] leogr commented on #418
Hey @alacuku

Sorry, I lost track of this. Any updates?

[2022-11-23 11:48] leogr commented on #387
Fixed by #388
/close

[2022-11-23 11:48] #387 closed

[2022-11-23 12:47] alacuku commented on #255
Based on my findings, there is no way to install the kernel headers on Docker for Mac. It means that we can not build the kernel module for it. Hence, no support for it from our side.

[2022-11-23 13:15] alacuku commented on #418
I was waiting for feedback from maintainers and the community.
 I would be happy to implement the proposed solution.

[2022-11-23 13:31] leogr commented on #418
I agree the two settings are misleading, but in unifying them I see an issue:
[code]

The first option is meant to enable the loader regardless of the init container. That is required because we have to support three different cases:

1. Driver loader via an init container: both options must be enabled
2. Driver loader in the same falco image (with no init container): the first option must be enab

[2022-11-23 13:52] alacuku commented on #418
I would use always the init container, hence I will drop support for option two in the helm chart. That is the only case that requires both the switches: loader and initContainer. And the third options will still work since it does not require configuration from the chart side.
Using an init container for the `falco-driver-loader` is in line with the best practices of kubernetes deployments.

[2022-11-23 14:00] alacuku commented on #418
Currently the `falcosecurity/falco` does not work when used with the chart, please see here #419

[2022-11-23 14:23] alacuku commented on #410
Hey @leogr, I've added a step-by-step guide on how to set up a minikube environment with kubernetes audit logs enabled and how to deploy Falco with the k8s audit plugin. For more info: https://falco.org/docs/getting-started/third-party/learning/#falco-with-multiple-sources
Maybe we should add the link in the charts Readme.md under the k8s audit section.

[2022-11-23 15:19] ReddaHawk commented on #414
Hey, is anyone working on this one? If not I would like to work on it.

[2022-11-23 15:51] leogr commented on #414
Hey @ReddaHawk

Yes, thank you! :star_struck:

AFAIK no one is working on that. So feel free to start! Your contribution is really really appreciated :)

Let me know if you need any support, I will be happy to help.

/assign ReddaHawk

[2022-11-23 16:18] ReddaHawk commented on #414
Hi @leogr
Thank you! In case I need your help i will contact you.

[2022-11-25 14:13] leogr commented on #419
I totally agree it's not a best practice, but not supporting it could break legacy use cases. I'm not completely contrary to getting rid of the third case, but - before removing it - we should make sure nobody needs it anymore.

N.B. I know it does not work with the latest chart version, but it worked with the 2.0.0 AFAIK.

cc @falcosecurity/core-maintainers wdyt?

[2022-11-25 14:15] leogr commented on #418
See https://github.com/falcosecurity/charts/issues/419#issuecomment-1327522540
Let's see if we want to remove that uses case :)

[2022-11-25 21:34] poiana commented on #336
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2022-11-25 21:34] poiana commented on #336
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/charts/issues/336#issuecomment-1327894864):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-11-25 21:34] #336 closed

[2022-11-28 09:15] Andreagit97 commented on #419
I agree with @alacuku, using just one approach (the init container one) would be easier for everyone, for us to maintain and for the user to avoid complexity! Moreover, actually, the `falcosecurity/falco` image is not working due to the mount issue described above so probably nobody is using it or needs it :thinking: It could be the right moment to remove it

[2022-11-28 09:34] poiana commented on #377
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-28 22:26] GauJosh commented on #402
@Issif Any updates on this?

[2022-11-28 22:47] Issif commented on #402
In the next weeks, I've a little more time to release the new versions of Falcosidekick and Falcosidekick-UI, I hope to do so before Christmas.